<section>
	<div class="page-body">
		<div class="container clearfix page">
			<div class="page-body">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#unread" aria-controls="home" role="tab" data-toggle="tab">未读</a></li>
					<li role="presentation"><a href="#markread" aria-controls="profile" role="tab" data-toggle="tab">已读</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="unread">
						<ul class="messagelist">
							<li><span>今天 17:20</span><a href="javascript:void(0);">您有一份新的个人报告生成</a></li>
							<li><span>昨天 20:15</span><a href="javascript:void(0);">您有一份新的班级报告生成</a></li>
							<li><span>2016-06-26 18:30</span><a href="javascript:void(0);">您有一份新的个人报告生成</a></li>
							<li><span>2016-06-25 09:12</span><a href="javascript:void(0);">您有一个新试题解析任务需要处理</a></li>
							<li><span>2016-06-24 10:03</span><a href="javascript:void(0);">您有一个新试题修订任务需要处理</a></li>
							<li><span>2016-06-24 08:26</span><a href="javascript:void(0);">您有一个新试题解析任务需要处理</a></li>
							<li><span>2016-06-22 12:49</span><a href="javascript:void(0);">您有一份新的个人报告生成</a></li>
							<li><span>2016-06-21 17:20</span><a href="javascript:void(0);">您有一个新试题解析任务需要处理</a></li>
							<li><span>2016-06-19 11:37</span><a href="javascript:void(0);">您有一份新的个人报告生成</a></li>
						</ul>

						<nav class="text-center">
							<ul class="pagination">
								<li class="disabled">
									<a href="#" aria-label="Previous">
										<span aria-hidden="true">上一页</span>
									</a>
								</li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li class="page-last-separator disabled"><a href="javascript:void(0)">...</a></li>
								<li>
									<a href="#" aria-label="Next">
										<span aria-hidden="true">下一页</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
					<div role="tabpanel" class="tab-pane" id="markread">
						<ul class="messagelist">
							<li><span>今天 10:27</span><a href="javascript:void(0);">您有一个新试题解析任务需要处理</a></li>
							<li><span>今天 10:27</span><a href="javascript:void(0);">您有一个新试题解析任务需要处理</a></li>
							<li><span>今天 10:27</span><a href="javascript:void(0);">您有一个新试题解析任务需要处理</a></li>
							<li><span>今天 10:27</span><a href="javascript:void(0);">您有一个新试题解析任务需要处理</a></li>
							<li><span>今天 10:27</span><a href="javascript:void(0);">您有一个新试题解析任务需要处理</a></li>
							<li><span>今天 10:27</span><a href="javascript:void(0);">您有一个新试题解析任务需要处理</a></li>
							<li><span>今天 10:27</span><a href="javascript:void(0);">您有一个新试题解析任务需要处理</a></li>
							<li><span>今天 10:27</span><a href="javascript:void(0);">您有一个新试题解析任务需要处理</a></li>
							<li><span>今天 10:27</span><a href="javascript:void(0);">您有一个新试题解析任务需要处理</a></li>
							<li><span>今天 10:27</span><a href="javascript:void(0);">您有一个新试题解析任务需要处理</a></li>
						</ul>

						<nav class="text-center">
							<ul class="pagination">
								<li class="disabled">
									<a href="#" aria-label="Previous">
										<span aria-hidden="true">上一页</span>
									</a>
								</li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li class="page-last-separator disabled"><a href="javascript:void(0)">...</a></li>
								<li>
									<a href="#" aria-label="Next">
										<span aria-hidden="true">下一页</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	$(document).ready(function(){
		$("body").attr('id', 'message');
	})
</script>