<section>
		<div class="container clearfix">
			<!-- Nav tabs -->
			<%= render 'shared/user/left_menu' %>

			  <!-- Tab panes -->
			  <div class="tab-content">
		
			    <div role="tabpanel" class="tab-pane active" id="BindingAccount">
                
					<div class="panel">

					  <!-- 修改手机号 -->
					  <h1 class="panel-heading bb0 clearfix">
						  <a href="/profile/account_binding" class="btn btn-link pull-right">返回</a>
						  修改邮箱
                      </h1>
					  <div class="panel-body b1">

						  <div class="steptitle">
							  <ul>
								  <li class="highlight"><span class="badge">1</span>验证身份</li>
								  <li class="highlight"><span class="badge">2</span>修改邮箱</li>
								  <li class="highlight"><span class="badge">3</span>完成</li>
							  </ul>
						  </div>
						  <div class="succeed">
							  <p class="text-center">
								  <i class="glyphicon glyphicon-ok-sign"></i>
								  邮箱修改成功
							  </p>
						  </div>
					  </div>

					 </div>

			    </div>

			  </div>

		</div>
	</section>