<section class="section">
		<div class="container about">
			<h3>关于我们</h3>
			<p>甄学致力于K12领域教育的大数据建模、采集和分析，为发展中国学生的核心素养提供针对性服务。依据国家课程标准，采用国际先进的方法论和独创的数据模型，建立三维（或多维）分层分级学科指标测量和评价体系，为学生自主学习、教师针对性教学和教研提供科学的数据支撑和服务保障。</p>
			<p>自主研发系列智能教育产品，服务于体制内中小学校，同时为广大学生开启全新的、轻松的、自适应的学习体验。开放指标、开放服务，与大家一起创见教育未来。</p>
			<p class="text-right">
				<%= image_tag 'companyname.png', class: 'img-responsive' %>
			</p>
		</div>
	</section>
	<script type="text/javascript">
		$(document).ready(function(){
			$('body').attr('id', 'about');
			$('footer').addClass('pb');
		})
	</script>