	<section class="section">
		<div class="container contact">
			<h3>联系我们</h3>
			<p class="phone"><span>电话：010-82521569</span></p>
			<p class="email"><span>邮箱：admin@k12ke.com</span></p>
			<p class="address"><span>地址：北京海淀中关村大街18号互联网教育创新中心创业港</span></p>
		</div>
	</section>
<script type="text/javascript">
	$('body').attr('id', 'contact');
</script>