<div class="index_banner w100">
	<div class="banner bc h100">
		<div class="w100 page ha">
			<%= image_tag 'banner_img01.png' %>
		</div>
		<div class="banner_btn_list w100 f18">
			<div class="banner_btn pr cp fl tc">
				小学题库	
			</div>
			<div class="banner_btn pr cp fl tc">
						初中题库
						<ul class="alertBox pa">
							<li>语文</li>
							<li>数学</li>
							<li>英语</li>
							<li>物理</li>
							<li>化学</li>
							<li>生物</li>
							<li>历史</li>
							<li>地理</li>
							<li>政治</li>
						</ul>
					</div>
			<div class="banner_btn pr cp fl tc">
				高中题库
			</div>
		</div>
	</div>
</div>