<div id='index'>
	<section class="section bannertitle">
		<div class="container text-center">
			<%= image_tag 'title.png', class: 'img-responsive' %>
		</div>
	</section>

	<section class="section whitebg">
		<div class="container">
			<div class="col-xs-12 col-sm-6 col-md-5">
				<%= image_tag 'student.png' %>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-7">
				<div class="text">
					<h3>对学生&家长</h3>
					<p>一个可以让在“应试”环境下苦苦挣扎的学生高效、低负地提高成绩的智能化教育平台；</p>
					<p>一个帮助茫然的家长更清楚的认识自己的孩子，省时、省力、省钱地解决孩子学习中所遇到问题的智能化教育平台。</p>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="col-xs-12 col-sm-6 col-md-5 pull-right">
				<%= image_tag 'teacher.png' %>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-7 pull-left">
				<div class="text text-right">
					<h3>对教师</h3>
					<p>一个致力于减轻教师工作负担，使教师们高效、低负地完成教学及育人任务的智能化教育平台；</p>
					<p>一个真正实现将教学“艺术”与“科学”完美结合，使教师的幸福感和职业满意度大大提升的平台；</p>
				</div>
			</div>
		</div>
	</section>

	<section class="section whitebg">
		<div class="container">
			<div class="col-xs-12 col-sm-6 col-md-5">
				<%= image_tag 'school.png' %>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-7">
				<div class="text">
					<h3>对学校</h3>
					<p>一个基于精准诊断，低负、高效地提升学校教学质量的智能化教育平台；</p>
					<p>一个以数据为基础，实现学校教研、教管科学化、靶向化的智能教育平台。</p>
				</div>
			</div>
		</div>
	</section>
</div>