<div class="footer w100">
	<div class="footer_center bc tc f12">
		<ul class="ohidden inBlock">
			<li><a href="">联系我们</a></li>
			<li><a href="">关于我们</a></li>
			<li><a href="">人才招聘</a></li>
			<li><a href="">帮助中心</a></li>
			<li><a href="">意见反馈</a></li>
		</ul>
		<ul class="ohidden inBlock">
			<li>北京知引技术有限公司</li>
			<li>copyright@2016</li>
			<li>京ICP6473839</li>
		</ul>
	</div>
</div>