<!-- 试卷详情模版 -->
<script type="text/template" class="template_detail">
	<div class="paperDetails">
		<h2 class="top_title ellipsis"></h2>
		<h4 class="sub_title ellipsis"></h4>
		<div class="detailAll clearfix">
			<div class="detailWarp detailLeft">
				<ul class="info_list">
					<li class="info_city">
						<label>区域：</label>
						<p></p>
					</li>
					<li class="info_type">
						<label>测试类型：</label>
						<p></p>
					</li>
					<li class="info_grade">
						<label>年级：</label>
						<p></p>
					</li>
					<li class="info_time">
						<label>测试时长：</label>
						<p></p>
					</li>
					<li class="info_difficulty">
						<label>难度预估：</label>
						<p></p>
					</li>
					<li class="info_score">
						<label>满分：</label>
						<p></p>
					</li>
				</ul>
			</div>
			<div class="detailWarp detailRight">
				<ul class="info_list">
					<li class="info_school">
						<label>学校：</label>
						<p></p>
					</li>
					<li class="info_subject">
						<label>科目：</label>
						<p></p>
					</li>
					<li class="info_term">
						<label>学期：</label>
						<p></p>
					</li>
					<li class="info_version">
						<label>教材版本：</label>
						<p></p>
					</li>
					<li class="info_testTime">
						<label>考试时间：</label>
						<p></p>
					</li>
					<!--li class="info_range">
						<label>知识点范围：</label>
						<div class="table_celle">
							<p></p>
							<p></p>
							<p></p>
						</div>
					</li-->
				</ul>
			</div>
		</div>

<!--项目管理员增加Tenant范围选择域：begin-->
<%#= render partial: "shared/paper/zheng_juan/tenant_range",locals: {label_klass: "tenant", edittable: false} %>

		<div class="lookPaperInfo">
			<a class="lookPaper_q_a" href="javascript:void(0);">查看已修订的试卷、答案详情</a>
			<a class="lookPaper_sanwei" href="javascript:void(0);">查看试卷三维解析详情</a>
		</div>
		<div class="hint">相关文件</div>
		<a href="javascript:;" geturl="/papers/download_page?type=original_paper_answer" class="download_link link_paper">原始试题、答案下载</a>
		<a href="javascript:;" geturl="/papers/download_page?type=modified_paper_answer_emptyscore" class="download_link link_form">已修订的试卷、答案、录入表（空）下载</a>
<% unless true || current_user.is_project_administrator? %>	
		<a href="javascript:;" 
			geturl="/papers/download_page?type=imported_score" 
			class="download_link link_grade">
		学生成绩表下载</a>

		<a href="javascript:;" 
			geturl="/papers/download_page?type=user_password_reporturl" 
			class="download_link link_user">
		用户名、密码、报告链接汇总表下载</a>
<% end %>

<!--项目管理员增加Tenant范围选择域：begin-->
<%= render partial: "shared/paper/zheng_juan/tenant_range",locals: {label_klass: "tenant", edittable: false} %>

		<a href="javascript:;" class="paper_editor">修订试卷</a>
		<div class="paper_about clearfix">
			<div class="about_left">
				<a class="download_list" geturl="/papers/download_page?type=modified_paper_answer_emptyscore" href="javascript:;">下载试卷、答案、录入表（空）</a>
			</div>
			<div class="about_right">
				<a class="edit_sanwei" href="javascript:;">三维解析试卷</a>
<% unless true || current_user.is_project_administrator? %>	
				<a class="load_list" geturl="/papers/import_filled_result?tenant_uid=<%= current_user.tenant.uid %>" href="javascript:;">导入成绩表</a>
<% end %>
			</div>
		</div>

		<div class="createReport">
			<a href="javascript:;" class="active">生成报告</a>
			<!--div class="progress">
				<div class="finish"></div>
			</div-->
			<p class="error"></p>
		</div>

<% if !@current_test || @current_test.report_version.blank? %>	
		<div class="lookReport">
			<a href="/reports/new_square" class="active">在线查看报告</a>
		</div>
<% elsif  @current_test.report_version == "1.1" %>
		<div class="lookReport">
			<a href="/reports/square_v1_1" class="active">在线查看报告</a>
		</div>
<% end %>

<div class="progress createReport" style="float: center; width: 120px; height:20px; display: none;">
	<div class="progress-bar progress-bar-success" 
		job-uid="<%=@current_create_report_job_uid%>"
		role="progressbar" 
		aria-valuenow="0" 
		aria-valuemin="0" 
		aria-valuemax="100" 
		style="width: 0; font-size: 10px;color: #000000;">
		0
	</div>
</div>


	</div>
</script>