<div id="modal-header">
	<button type="button" class="close" 
	data-dismiss="modal" aria-hidden="true">
		&times;
	</button>
	<h4 class="dialog-title">
		<%= t('page.paper.download') %>
	</h4>
</div>
<div class="modal-body">
	<ul>
	
	<% download_list(params[:type]).each do |type| %>
		<li>
			<%= link_to @paper.download_file_name(type), download_papers_path(pap_uid: @paper, type: type) ,:target => "_blank"%>
		</li>
	<% end %>	
	</ul>
</div>
<div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">
		<%= t("page.close") %>
	</button>
</div>