<!-- 试卷上传模版 -->
<script type="text/template" class="template_part1">
	<div class="part1">
		<div class="wordUpdate">
			<div class="updateTitle">试卷入库 - 文件上传</div>
		</div>
		<div class="formWarp">
			<form class="paperForm" action="">
				<ul class="formList">
					<li class="clearfix">
						<label>试卷文件（word）</label>
						<p class="fileName"></p>
						<span></span>
						<input name="doc_path" type="file">
					</li>
					<li class="clearfix">
						<label>答案文件（word）</label>
						<p class="fileName"></p>
						<span></span>
						<input name="answer_path" type="file">
					</li>
				</ul>
			</form>
		</div>
		<div class="submitWarp">
			<a class="submitBtn" href="javascript:void(0);">开始导入</a>
		</div>
	</div>
</script>