<!-- 单题切分模版 -->
<script type="text/template" class="template_part3">
	<div class="part3">
		<div class="paperModify">
			<h5 class="paper_title">2016年第一学期实验一小期末数学试卷</h5>
			<h3 class="paper_subtitle"></h3>
			<p class="description"></p>
		</div>
		<div class="editorWarp clearfix">
			<div class="editorCont editorLeft">
				<h5 class="editorTitle">试卷切题（最小存储单元）</h5>
				<textarea id="questionEditor" cols="20" rows="2"></textarea>
			</div>
			<div class="editorCont editorRight">
				<h5 class="editorTitle">答案匹配（对应单题）</h5>
				<textarea id="answerEditor" cols="20" rows="2"></textarea>
			</div>
		</div>
		<p class="statistics">共切出【<span class="questionNum">8</span>】道题，【<span class="answerNum">8</span>】个答案</p>
		<div class="change historyBtn clearfix">
			<a class="nextBtn" href="javascript:void(0);">下一步</a>
			<a class="prevBtn" href="javascript:void(0);">上一步</a>
			<a class="saveHtml" href="javascript:void(0);">保存</a>
		</div>
	</div>
</script>