<div class="testQuestions clearfix">
	<p class="textLabel">题干</p>
	<div class="textEditor textEditorx">
		<textarea id="question_body" cols="20" rows="2"></textarea>
	</div>
</div>
<div class="quizoptions">
	<div class="testAnswer OptionDetail clearfix">
		<p class="textLabel">选项</p>

	</div>
</div>
<div class="addWarp">
	<a href="javascript:;" class="addOptional" id="addOptional">+&nbsp;&nbsp;添加选项</a>
</div>
<div id="demo" style="display:none">
	<div class="optionDetailWarp clearfix">
		<div class="clearfix">	
			<p class="is_answer textCheckbox" style="float: left;"><span></span>答案</p>
			<div class="optionDetailParent">
				<textarea name="question_detail" id="quiz_option_" cols="20" rows="2"></textarea>
			</div>
		</div>
		<a href="javascript:;" class="deleteOption"></a>
		</div>
</div>