<!-- 整卷提交后的解析模版 -->
<script type="text/template" class="template_analysis">
	<div class="part4 clearfix">
		<div class="sideMenu">
			<p class="sideTitle">题目列表</p>
			<ul class="topNav">
			</ul>
			<!--a class="detection" href="javascript:;">检测</a-->
		</div>
		<div class="attribute">
			<div class="paperModify">
				<h5 class="paper_title">2016年第一学期实验一小期末数学试卷</h5>
				<h3 class="paper_subtitle"></h3>
				<p class="description">大锅饭空间环境</p>
			</div>
                        <div class="questionType" style="padding:0 100px;"></div>
			<ul class="analysis_info">
				<li class="info_type"><label>题型：</label><span>选择题</span></li>
				<li class="info_difficulty"><label>难度：</label><span>中等</span></li>
				<li class="info_score"><label>满分：</label><span>4分</span></li>
				<li class="info_optional"><label>可选题：</label><span>否</span></li>
			</ul>
			<div class="analysis_data analysis_q clearfix">
				<div class="info_left">试题：</div>
				<div class="info_right">
				</div>
			</div>
			<div class="analysis_data analysis_a clearfix">
				<div class="info_left">答案：</div>
				<div class="info_right">
				</div>
			</div>
			<div class="analysis_data analysis_describe clearfix">
				<div class="info_left">答案说明：</div>
				<div class="info_right">
				</div>
			</div>
			<div class="score_part">
				<div class="score_list clearfix">
					<div class="score_data analysis_score clearfix">
						<div class="info_left">得分点：</div>
						<div class="info_right"></div>
					</div>

					<div class="score_data analysis_sanwei clearfix">
						<div class="info_left">三维解析：</div>
						<div class="info_right">
							<ul>
								<li class="info_knowledge"><label>知识：</label><input type="text"></li>
								<li class="info_skill"><label>技能：</label><input type="text"></li>
								<li class="info_ability"><label>能力：</label><input type="text"></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<div class="sanweiSave historyBtn clearfix">
				<a class="nextBtn" href="javascript:void(0);">提交</a>
				<a class="prevBtn" href="javascript:void(0);">保存</a>
			</div>
			
		</div>
	</div>
</script>