<div>
	<select class="easyui-combobox" 
			id="managers_node_structures_list"
			name="managers_node_structures_list"
			style="width:200px;"
			data-options="
				valueField:'uid',
				textField: 'name',
				panelHeight:'auto'
			">
	</select>
</div>
<div>
	<span id="managers_node_structure_catalogs_ztree" 
		  class="ztree" 
		  style="display: block; margin: 5px;">
	</span>
</div>
