<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
	<h3 class="zy-report-subtitle"><%= section_title %></h3>
	<table class="static-table">
		<tr>
			<th>题号</th>
			<th>答对率</th>
			<th>知识指标</th>
		</tr>
		<tbody id="<%= tbody_id%>">
		</tbody>
	</table>
</div>