<table class="data-table">
	<tr>
		<th class="col1 colbg"><%= I18n.t("dict.#{dimesion}")%></th>
		<th class="col2">班级平<br>均值</th>
		<th class="col3">班级平均得<br/>分率</th>
		<th class="col4">班级中位数<br>得分率</th>
		<th class="col4">年级平均得<br>分率</th>
		<th class="col5">班级与年级<br>平均得分率<br>差值</th>
		<th class="col6">班级中位数<br>得分率与年<br>级平均差值</th>
		<th class="col7">分化程度</th>
		<th class="col8">满分值</th>
	</tr>
	<tbody id="Class_<%= dimesion%>_table"></tbody>
</table>
<dl>
	<dt>说明</dt>
	<dd>
		1. 带*的表示该指标不适用；<br> 
		2. 涂色的数值为低于平均水平30%以上的指标，需要特别关注。<br>
<% if ["skill","ability"].include? dimesion %>		
		3. 由于只保留4位有效数字，故<%= I18n.t("dict.#{dimesion}") %>总分与<%= I18n.t("dict.#{dimesion}") %>各级指标满分之和会存在微小误差。
<% end %>		
	</dd>
</dl>