<div class='wrapper-md'>
	<h1 class='font-thin h3'>测试评价</h1>
</div>
<div class='hbox hbox-auto-xs hbox-auto-sm'>
	<div class='col'>
		<div class='clearfix padder-lg'>
			<dl class="klass_diagnosis <%= dimesion %>">
				<dt><i class="title"><%= title %></i></dt>
				<dd>
					<ul>
<!--本班情况：指标-->
						<li>

本班学生得分率最高的项是: <mark><i class="self_best"></i></mark><br>
本班学生得分率最低的项是: <mark><i class="self_worst"></i></mark><br>
表明在上一阶段的学习中，本班学生在<mark><i class="self_best"></i></mark>取得了较好的学习效果，
但在<mark><i class="self_worst"></i></mark>方面的学习却相对存在不足。

						</li>

<!--年级情况：指标-->
						<li>

本班高于年级平均水平的项是: <mark><i class="grade_in_group_best"></i></mark><br>
本班低于年级平均水平的项是: <mark><i class="grade_in_group_worst"></i></mark><br>
表明在这次考试中，本班学生总体的优势是<i class="grade_in_group_best"></i></mark>，
本班学生总体的劣势是<mark><i class="grade_in_group_worst"></i></mark>。 

						</li>
						
<!--本班情况：分值，人数比例-->						
						<li>
本班的平均得分率是<mark><i class="self_weights_score_average_percent"></i></mark>，
在本次考试中，达到了<mark><i class="self_weights_score_average_percent_level"></i></mark>水平。
与年级平均水平相比，<mark><i class="compare_with_grade_weights_score_average_percent_level"></i></mark>于年级平均水平。
						</li>						
						<li>
本班的得分率 ≥ 85的人数比例是<mark><i class="self_excellent_pupil_number_percent"></i></mark>>, 
表明在本次考试中，知识得分率在 85 以上的学生人数占本班全部考试人数的<mark><i class="self_excellent_pupil_number_percent"></i></mark>，
与年级相比，<mark><i class="compare_with_grade_excellent_pupil_number_percent"></i></mark>于年级的比例。
						</li>
						<li>
本班的60 ≤ 得分率 < 85的人数比例是<mark><i class="self_good_pupil_number_percent"></i></mark>, 
表明在本次考试中，知识得分率在 60-85之间的学生人数占本班全部考试人数的<mark><i class="self_good_pupil_number_percent"></i></mark>，
与年级相比，<mark><i class="compare_with_grade_good_pupil_number_percent"></i></mark>于年级的比例。
						</li>
						<li>
本班的得分率 < 60的人数比例是<mark><i class="self_failed_pupil_number_percent"></i></mark>, 
表明在本次考试中，知识得分率在60以下的学生人数占本班全部考试人数的<mark><i class="self_failed_pupil_number_percent"></i></mark>，
与年级相比，<mark><i class="compare_with_grade_failed_pupil_number_percent"></i></mark>于年级的比例。
						</li>
					</ul>
				</dd>
			</dl>
		</div>
	</div>
</div>