<div class='wrapper-md'>
	<h1 class='font-thin h3'>诊断及改进建议</h1>
</div>
<div class='hbox hbox-auto-xs hbox-auto-sm'>
	<div class='col'>
		<div class='clearfix padder-lg'>
			<div id='diagnosis'>
				<h3>诊断 <small>（本次测试总体表现如下）</small></h3>
				<div class='wrap'>
					<h4>最佳表现</h4>
					<p class='text-muted'>
						<b>与自身相比，表现最佳的方面有：</b>
						知识：<div class="quiz_comment self_best_knowledge"></div><br>
						技能：<div class="quiz_comment self_best_skill"></div><br>
						能力：<div class="quiz_comment self_best_ability"></div>
					</p>
					<p class='text-muted'>
						<b>与群体相比，表现最佳的方面有：</b>
						知识：<div class="quiz_comment inclass_best_knowledge"></div><br>
						技能：<div class="quiz_comment inclass_best_skill}"></div><br>
						能力：<div class="quiz_comment inclass_best_ability"></div>
					</p>
					<h4>问题发现</h4>
					<p class='text-muted'>
						<b>低于年级平均水平较多的方面是：</b>
						知识：<div class="quiz_comment ingrade_worse_knowledge"></div><br>
						技能：<div class="quiz_comment ingrade_worse_skill"></div><br>
						能力：<div class="quiz_comment ingrade_worse_ability"></div>
					</p>
					<h4>原因分析</h4>
					<ol><div class="quiz_comment ingrade_worse_cause"></div></ol>
				</div>
			</div>
			<div id='proposal'>
				<h3>改进建议</h3>
				<div class='wrap'>
					<ol><div class="quiz_comment ingrade_worse_advice"></div></ol>
				</div>
			</div>
		</div>
	</div>
</div>