<div class='wrapper-md'>
	<h1 class='font-thin h3'>诊断及改进建议</h1>
</div>
<div class='hbox hbox-auto-xs hbox-auto-sm'>
	<div class='col'><div class='clearfix padder-lg'>
		<div class='pupil_diagnosis'>
			<h3>诊断 <small>（本次测试总体表现如下）</small></h3>
			<div class='wrap'>
				<h4>最佳表现</h4>
				<p class='text-muted'>
				<b>与自身相比，表现最佳的方面有：</b><br>
					知识：<mark><i class="knowledge_self_best"></i></mark><br>
					技能：<mark><i class="skill_self_best"></i></mark><br>
					能力：<mark><i class="ability_self_best"></i></mark>
				</p>
				<p class='text-muted'>
				<b>与班级相比，表现最佳的方面有：</b><br>
					知识：<mark><i class="knowledge_klass_in_group_best"></i></mark><br>
					技能：<mark><i class="skill_klass_in_group_best"></i></mark><br>
					能力：<mark><i class="ability_klass_in_group_best"></i></mark>
				</p>
				<h4>问题发现</h4>
				<p class='text-muted'>
				<b>低于年级平均水平较多的方面是：</b><br>
					知识：<mark><i class="knowledge_grade_in_group_worst"></i></mark><br>
					技能：<mark><i class="skill_grade_in_group_worst"></i></mark><br>
					能力：<mark><i class="ability_grade_in_group_worst"></i></mark>
				</p>
				<h4>原因分析</h4>
				<ol>
					<i >（略）</i>
				</ol>
			</div>
		</div>
		<div class='pupil_advice'>
				<h3>改进建议</h3>
				<div class='wrap'>
					<ol>
						<i >（略）</i>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>