<!--年级图表左面nav导航部分-->
<aside class="zy-report-leftNav">
	<ul class="chart-nav" id="tab-menu">
		<li class="tab-btn active" data-id="grade-diagnoseEchart">三维诊断概要图</li>
		<li class="tab-btn" data-id="grade-NumScale">年级分数段人数比例图</li>
		<li class="tab-btn" data-id="grade-FourSections">四分位区间表现情况图</li>
		<li class="drop-down">
			<a class="collapse-close" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">各班各指标表现水平图</a>
			<ul id="collapseOne" class="panel-collapse collapse">
				<li class="tab-btn" data-id="grade-checkpoint-knowledge">知识</li>
				<li class="tab-btn" data-id="grade-checkpoint-skill">技能</li>
				<li class="tab-btn" data-id="grade-checkpoint-ability">能力</li>
				<li class="tab-btn" data-id="grade-checkpoint-total">总成绩</li>
			</ul>
		</li>
		<li class="drop-down">
			<a class="collapse-close" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">各班分数段人数比例图</a>
			<ul id="collapseTwo" class="panel-collapse collapse">
				<li class="tab-btn" data-id="grade-classPupilNum-knowledge">知识</li>
				<li class="tab-btn" data-id="grade-classPupilNum-skill">技能</li>
				<li class="tab-btn" data-id="grade-classPupilNum-ability">能力</li>
			</ul>
		</li>
		<li class="drop-down">
			<a class="collapse-close" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">各班各指标表现水平数据表</a>
			<ul id="collapseThree" class="panel-collapse collapse">
				<li class="tab-btn" data-id="grade-checkpoint-table-knowledge">知识</li>
				<li class="tab-btn" data-id="grade-checkpoint-table-skill">技能</li>
				<li class="tab-btn" data-id="grade-checkpoint-table-ability">能力</li>
			</ul>
		</li>
		<li class="drop-down">
			<a class="collapse-close" data-toggle="collapse" data-parent="#accordion" href="#collapseFore">班级分数段比例数据表</a>
			<ul id="collapseFore" class="panel-collapse collapse">
				<li class="tab-btn" data-id="grade-classPupilNum-table-knowledge">知识</li>
				<li class="tab-btn" data-id="grade-classPupilNum-table-skill">技能</li>
				<li class="tab-btn" data-id="grade-classPupilNum-table-ability">能力</li>
			</ul>
		</li>
		<li class="tab-btn" data-id="grade-answerCase">题目答对率统计表</li>
		<li class="drop-down">
			<a class="collapse-close" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">报告解读</a>
			<ul id="collapseFive" class="panel-collapse collapse">
				<!--<li class="tab-btn" data-id="grade-readReport-three">三维指标含义解读</li>-->
				<li class="tab-btn" data-id="grade-readReport-statistics">统计指标解释</li>
				<li class="tab-btn" data-id="grade-readReport-data">数据解读</li>
			</ul>
		</li>
	</ul>
</aside>

<div id="myTabContent" class="tab-content">
	<h1 class="zy-report-type"></h1>
	<div class="report-nav-wrapper">
		<nav id='grade-top-nav' class="reptort-top-nav"></nav>
	</div>

	<div class="tab-pane active" id="grade-diagnoseEchart">
		<!--诊断图-->
		<div class="container-fluid">
			<div class="row">
				<h2 class="zy-report-subtitle">知识</h2>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 zy-chart-wrapper-left">
					<h3>知识 - 1级诊断图</h3>
					<div id="knowledge_diagnose_left" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 zy-chart-wrapper-right">
					<h3>知识 - 中平差值图</h3>
					<div id="knowledge_diagnose_right" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 zy-chart-wrapper-left">
					<h3 class="zy-report-subtitle">技能 - 1级诊断图</h3>
					<div id="skill_diagnose_left" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 zy-chart-wrapper-right">
					<h3 class="zy-report-subtitle">技能 - 中平差值图</h3>
					<div id="skill_diagnose_right" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 zy-chart-wrapper-left">
					<h3 class="zy-report-subtitle">能力 - 1级诊断图</h3>
					<div id="ability_diagnose_left" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 zy-chart-wrapper-right">
					<h3 class="zy-report-subtitle">能力 - 中平差值图</h3>
					<div id="ability_diagnose_right" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle">年级知识、技能、能力分型图</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="parting-chart" class="zy-chart-container"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane" id="grade-NumScale">
		<!--年级各分数段人数比例-->
		<div class="container-fluid">
			<div class="row">
				<h3 class="zy-report-subtitle">知识 - 各分数段人数比例</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="KnowledgeScale" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle">技能 - 各分数段人数比例</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="SkillScale" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle">能力 - 各分数段人数比例</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="AbilityScale" class="zy-chart-container"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane " id="grade-FourSections">
		<!--四分位区间-->
		<div class="container-fluid">
			<div class="row">
				<h3 class="zy-report-subtitle">前25%（上四分位）学生的各项指标情况</h3>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h4>知识</h4>
					<div id="knowledge_Four_L75" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h4>技能</h4>
					<div id="skill_Four_L75" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h4>能力</h4>
					<div id="ability_Four_L75" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle">(50，75]区间（中上四分位）学生的各项指标情况	</h3>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h4>知识</h4>
					<div id="knowledge_Four_L50" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h4>技能</h4>
					<div id="skill_Four_L50" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h4>能力</h4>
					<div id="ability_Four_L50" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle">(25,50]区间（中下四分位）学生的各项指标情况</h3>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h4>知识</h4>
					<div id="knowledge_Four_L25" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h4>技能</h4>
					<div id="skill_Four_L25" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h4>能力</h4>
					<div id="ability_Four_L25" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle">后25%（下四分位）学生的各项指标情况</h3>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h4>知识</h4>
					<div id="knowledge_Four_L0" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h4>技能</h4>
					<div id="skill_Four_L0" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h4>能力</h4>
					<div id="ability_Four_L0" class="zy-chart-container"></div>
				</div>
			</div>
		</div>
	</div>
	<!--各指标表现水平图 start-->
	<div class="tab-pane " id="grade-checkpoint-knowledge">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">知识 - 各班平均得分率</h3>
					<div id="knowledge_Grade_average_percent" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">知识 - 各班中位数得分率</h3>
					<div id="knowledge_Grade_median_percent" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">知识 - 各班中平差值</h3>
					<div id="knowledge_Grade_med_avg_diff" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">知识 - 各班分化度</h3>
					<div id="knowledge_Grade_diff_degree" class="zy-chart-container"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane " id="grade-checkpoint-skill">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">技能 - 各班平均得分率</h3>
					<div id="skill_Grade_average_percent" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">技能 - 各班中位数得分率</h3>
					<div id="skill_Grade_median_percent" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">技能 - 各班中平差值</h3>
					<div id="skill_Grade_med_avg_diff" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">技能 - 各班分化度</h3>
					<div id="skill_Grade_diff_degree" class="zy-chart-container"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane " id="grade-checkpoint-ability">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">能力 - 各班平均得分率</h3>
					<div id="ability_Grade_average_percent" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">能力 - 各班中位数得分率</h3>
					<div id="ability_Grade_median_percent" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">能力 - 各班中平差值</h3>
					<div id="ability_Grade_med_avg_diff" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">能力 - 各班分化度</h3>
					<div id="ability_Grade_diff_degree" class="zy-chart-container"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane " id="grade-checkpoint-total">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">总成绩 - 各班平均得分率</h3>
					<div id="total_Grade_average_percent" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">总成绩 - 各班中位数得分率</h3>
					<div id="total_Grade_median_percent" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">总成绩 - 各班中平差值</h3>
					<div id="total_Grade_med_avg_diff" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">总成绩 - 各班分化度</h3>
					<div id="total_Grade_diff_degree" class="zy-chart-container"></div>
				</div>
			</div>
		</div>
	</div>
	<!--各指标表现水平图 end-->
	<!--各班人数比例图 start-->
	<div class="tab-pane " id="grade-classPupilNum-knowledge">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">知识 - 各班优秀率</h3>
					<div id="knowledge_excellent" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">知识 - 各班良好达标率</h3>
					<div id="knowledge_good" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">知识 - 各班不及格率</h3>
					<div id="knowledge_faild" class="zy-chart-container"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane " id="grade-classPupilNum-skill">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">技能 - 各班优秀率</h3>
					<div id="skill_excellent" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">技能 - 各班良好达标率</h3>
					<div id="skill_good" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">技能 - 各班不及格率</h3>
					<div id="skill_faild" class="zy-chart-container"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane " id="grade-classPupilNum-ability">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">能力 - 各班优秀率</h3>
					<div id="ability_excellent" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">能力 - 各班良好达标率</h3>
					<div id="ability_good" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">能力 - 各班不及格率</h3>
					<div id="ability_faild" class="zy-chart-container"></div>
				</div>
			</div>
		</div>
	</div>
	<!--各班人数比例图 end-->
	<!--各指标表现水平数据  start-->
	<div class="tab-pane " id="grade-checkpoint-table-knowledge">
		<div class="container-fluid">
			<div class="row">
				<h3 class="zy-report-subtitle">知识 - 平均得分率</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="knowledge_average_percent" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle">知识 - 中位数得分率</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="knowledge_median_percent" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle">知识 - 各指标中平差值</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="knowledge_med_avg_diff" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle">知识 - 分化度</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="knowledge_diff_degree" class="data-table grade-data-table"></table>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane " id="grade-checkpoint-table-skill">
		<div class="container-fluid">
			<div class="row">
				<h3 class="zy-report-subtitle">技能 - 平均得分率</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="skill_average_percent" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle">技能 - 中位数得分率</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="skill_median_percent" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle">技能 - 各指标中平差值</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="skill_med_avg_diff" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle">技能 - 分化度</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="skill_diff_degree" class="data-table grade-data-table"></table>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane " id="grade-checkpoint-table-ability">
		<div class="container-fluid">
			<div class="row">
				<h3 class="zy-report-subtitle">能力 - 平均得分率</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="ability_average_percent" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle">能力 - 中位数得分率</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="ability_median_percent" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle">能力 - 各指标中平差值</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="ability_med_avg_diff" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle">能力分化度</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="ability_diff_degree" class="data-table grade-data-table"></table>
				</div>
			</div>
		</div>
	</div>
	<!--各指标表现水平数据  end-->
	<!--各班人数比例数据  start-->
	<div class="tab-pane " id="grade-classPupilNum-table-knowledge">
		<div class="container-fluid">
			<div class="row">
				<h3 class="zy-report-subtitle">知识 - 优秀（得分率≥85%）人数比例</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="knowledge_excellent_table" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle">知识 - 良好达标（60≤得分率﹤85）人数比例</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="knowledge_good_table" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle">知识 - 不及格（得分率﹤60）人数比例</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="knowledge_failed_table" class="data-table grade-data-table"></table>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane " id="grade-classPupilNum-table-skill">
		<div class="container-fluid">
			<div class="row">
				<h3 class="zy-report-subtitle">技能 - 优秀（得分率≥85%）人数比例</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="skill_excellent_table" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle">技能 - 良好达标（60≤得分率﹤85）人数比例</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="skill_good_table" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle"> 技能 - 不及格（得分率﹤60）人数比例</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="skill_failed_table" class="data-table grade-data-table"></table>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane " id="grade-classPupilNum-table-ability">
		<div class="container-fluid">
			<div class="row">
				<h3 class="zy-report-subtitle">能力 - 优秀（得分率≥85%）人数比例</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="ability_excellent_table" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle">能力 - 良好达标（60≤得分率﹤85）人数比例</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="ability_good_table" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle">能力 - 不及格（得分率﹤60）人数比例</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="ability_failed_table" class="data-table grade-data-table"></table>
				</div>
			</div>
		</div>
	</div>
	<!--各班人数比例数据  end-->
	<div class="tab-pane " id="grade-answerCase">
		<!--h3 class="zy-report-subtitle">年级学生答题情况统计</h3-->
		<p>
			说明：答对率指该题本班答对人数与全班参测学生的比值。数值范围为【0，1】，数值越大，表明答对人数越多。
			答对率低于0.6的题目是本班的薄弱点，需要重点关注。
		</p>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">答对率 ≥ 0.85的题目</h3>
					<table class="static-table">
						<tr>
							<th>题号</th>
							<th>答对率</th>
						</tr>
						<tbody id="excellent_answerCase_table">
						</tbody>
					</table>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">0.6 ≤ 答对率 < 0.85的题目</h3>
					<table class="static-table">
						<tr>
							<th>题号</th>
							<th>答对率</th>
						</tr>
						<tbody id="good_answerCase_table">
						</tbody>
					</table>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">答对率 < 0.6的题目</h3>
					<table class="static-table">
						<tr>
							<th>题号</th>
							<th>答对率</th>
						</tr>
						<tbody id="failed_answerCase_table">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--报告解读  start-->
	<!--<div class="tab-pane grade-report" id="grade-readReport-three" >-->
		<!--&lt;!&ndash;报告解读-三维指标&ndash;&gt;-->
	<!--</div>-->
	<div class="tab-pane grade-report" id="grade-readReport-statistics" >
		<!--报告解读-统计指标-->
	</div>
	<div class="tab-pane grade-report" id="grade-readReport-data">
		<!--报告解读-数据解读-->
	</div>
	<!--报告解读  end-->
</div>