<!--年级图表左面nav导航部分-->
<aside class="zy-report-leftNav">
	<ul class="chart-nav" id="tab-menu">
		<li class="tab-btn active" data-id="grade-diagnoseEchart">三维诊断概要图</li>
		<li class="tab-btn" data-id="grade-NumScale">年级分数段人数比例图</li>
		<li class="tab-btn" data-id="grade-FourSections">四分位区间表现情况图</li>
		<li class="drop-down">
			<a class="collapse-close" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">各班各指标表现水平图</a>
			<ul id="collapseOne" class="panel-collapse collapse">
				<li class="tab-btn" data-id="grade-checkpoint-knowledge">知识</li>
				<li class="tab-btn" data-id="grade-checkpoint-skill">技能</li>
				<li class="tab-btn" data-id="grade-checkpoint-ability">能力</li>
				<li class="tab-btn" data-id="grade-checkpoint-total">总成绩</li>
			</ul>
		</li>
		<li class="drop-down">
			<a class="collapse-close" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">各班分数段人数比例图</a>
			<ul id="collapseTwo" class="panel-collapse collapse">
				<li class="tab-btn" data-id="grade-classPupilNum-knowledge">知识</li>
				<li class="tab-btn" data-id="grade-classPupilNum-skill">技能</li>
				<li class="tab-btn" data-id="grade-classPupilNum-ability">能力</li>
			</ul>
		</li>
		<!--<li class="drop-down">-->
			<!--<a class="collapse-close" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">各班各指标表现水平数据表</a>-->
			<!--<ul id="collapseThree" class="panel-collapse collapse">-->
				<!--<li class="tab-btn" data-id="grade-checkpoint-table-knowledge">知识</li>-->
				<!--<li class="tab-btn" data-id="grade-checkpoint-table-skill">技能</li>-->
				<!--<li class="tab-btn" data-id="grade-checkpoint-table-ability">能力</li>-->
			<!--</ul>-->
		<!--</li>-->
		<!--<li class="drop-down">-->
			<!--<a class="collapse-close" data-toggle="collapse" data-parent="#accordion" href="#collapseFore">各班分数段比例数据表</a>-->
			<!--<ul id="collapseFore" class="panel-collapse collapse">-->
				<!--<li class="tab-btn" data-id="grade-classPupilNum-table-knowledge">知识</li>-->
				<!--<li class="tab-btn" data-id="grade-classPupilNum-table-skill">技能</li>-->
				<!--<li class="tab-btn" data-id="grade-classPupilNum-table-ability">能力</li>-->
			<!--</ul>-->
		<!--</li>-->
		<li class="tab-btn" data-id="grade-answerCase">题目答对率统计表</li>
		<li class="drop-down">
			<a class="collapse-close" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">报告解读</a>
			<ul id="collapseFive" class="panel-collapse collapse">
				<!--<li class="tab-btn" data-id="grade-readReport-three">三维指标含义解读</li>-->
				<li class="tab-btn" data-id="grade-readReport-statistics">统计指标解释</li>
<!-- 				<li class="tab-btn" data-id="grade-readReport-data">数据解读</li>
 -->			</ul>
		</li>
	</ul>
</aside>

<div id="myTabContent" class="tab-content">
	<h1 class="zy-report-type"></h1>
	<div class="report-nav-wrapper">
		<nav id='grade-top-nav' class="reptort-top-nav"></nav>
	</div>

	<div class="tab-pane active" id="grade-diagnoseEchart">
		<!--诊断图-->
		<div class="container-fluid">
			<div class="row">
				<h2 class="zy-report-subtitle">	知识</h2>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 zy-chart-wrapper-left">
					<h3>
						1级诊断图
						<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-1">
							解读说明
						</button>
					</h3>
					<div id="knowledge_diagnose_left" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 zy-chart-wrapper-right">
					<h3>
						中平差值图
						<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-2">
							解读说明
						</button>
					</h3>
					<div id="knowledge_diagnose_right" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">技能</h2>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 zy-chart-wrapper-left">
					<h3>
						1级诊断图
						<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-1">
							解读说明
						</button>
					</h3>
					<div id="skill_diagnose_left" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 zy-chart-wrapper-right">
					<h3>
						中平差值图
						<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-2">
							解读说明
						</button>
					</h3>
					<div id="skill_diagnose_right" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">能力</h2>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 zy-chart-wrapper-left">
					<h3>
						1级诊断图
						<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-1">
							解读说明
						</button>
					</h3>
					<div id="ability_diagnose_left" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 zy-chart-wrapper-right">
					<h3>
						中平差值图
						<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-2">
							解读说明
						</button>
					</h3>
					<div id="ability_diagnose_right" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">
					知识，技能，能力分型图
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-3">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="parting-chart" class="zy-chart-container"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane" id="grade-NumScale">
		<!--年级各分数段人数比例-->
		<div class="container-fluid">
			<h2 class="zy-report-subtitle">
				各分数段人数比例
				<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-4">
					解读说明
				</button>
			</h2>
			<div class="row">
				<h3>知识</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="KnowledgeScale" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<h3>技能</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="SkillScale" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<h3>能力</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="AbilityScale" class="zy-chart-container"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane " id="grade-FourSections">
		<!--四分位区间-->
		<div class="container-fluid">
			<div class="row">
				<h2 class="zy-report-subtitle">
					前25%（上四分位）学生的各项指标情况
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-5">
						解读说明
					</button>
				</h2>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h3>知识</h3>
					<div id="knowledge_Four_L75" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h3>技能</h3>
					<div id="skill_Four_L75" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h3>能力</h3>
					<div id="ability_Four_L75" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">
					(50，75]区间（中上四分位）学生的各项指标情况
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-6">
						解读说明
					</button>
				</h2>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h3>知识</h3>
					<div id="knowledge_Four_L50" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h3>技能</h3>
					<div id="skill_Four_L50" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h3>能力</h3>
					<div id="ability_Four_L50" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">
					(25,50]区间（中下四分位）学生的各项指标情况
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-7">
						解读说明
					</button>
				</h2>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h3>知识</h3>
					<div id="knowledge_Four_L25" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h3>技能</h3>
					<div id="skill_Four_L25" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h3>能力</h3>
					<div id="ability_Four_L25" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">
					后25%（下四分位）学生的各项指标情况
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-8">
						解读说明
					</button>
				</h2>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h3>知识</h3>
					<div id="knowledge_Four_L0" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h3>技能</h3>
					<div id="skill_Four_L0" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h3>能力</h3>
					<div id="ability_Four_L0" class="zy-chart-container"></div>
				</div>
			</div>
		</div>
	</div>
	<!--各指标表现水平图 start-->
	<div class="tab-pane " id="grade-checkpoint-knowledge">
		<div class="container-fluid">
			<div class="row">
				<h2 class="zy-report-subtitle">
					知识 - 各班平均得分率
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-9">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zy-col">
					<div id="knowledge_Grade_average_percent" class="zy-chart-container"></div>
					<table id="knowledge_average_percent" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">
					知识 - 各班中位数得分率
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-10">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="knowledge_Grade_median_percent" class="zy-chart-container"></div>
					<table id="knowledge_median_percent" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">
					知识 - 各班中平差值
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-11">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="knowledge_Grade_med_avg_diff" class="zy-chart-container"></div>
					<table id="knowledge_med_avg_diff" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">
					知识 - 各班分化度
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-12">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="knowledge_Grade_diff_degree" class="zy-chart-container"></div>
					<table id="knowledge_diff_degree" class="data-table grade-data-table"></table>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane " id="grade-checkpoint-skill">
		<div class="container-fluid">
			<div class="row">
				<h2 class="zy-report-subtitle">
					技能 - 各班平均得分率
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-9">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="skill_Grade_average_percent" class="zy-chart-container"></div>
					<table id="skill_average_percent" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">
					技能 - 各班中位数得分率
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-10">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="skill_Grade_median_percent" class="zy-chart-container"></div>
					<table id="skill_median_percent" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">
					技能 - 各班中平差值
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-11">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="skill_Grade_med_avg_diff" class="zy-chart-container"></div>
					<table id="skill_med_avg_diff" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">
					技能 - 各班分化度
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-12">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="skill_Grade_diff_degree" class="zy-chart-container"></div>
					<table id="skill_diff_degree" class="data-table grade-data-table"></table>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane " id="grade-checkpoint-ability">
		<div class="container-fluid">
			<div class="row">
				<h2 class="zy-report-subtitle">
					能力 - 各班平均得分率
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-9">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="ability_Grade_average_percent" class="zy-chart-container"></div>
					<table id="ability_average_percent" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">
					能力 - 各班中位数得分率
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-10">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="ability_Grade_median_percent" class="zy-chart-container"></div>
					<table id="ability_median_percent" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">
					能力 - 各班中平差值
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-11">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="ability_Grade_med_avg_diff" class="zy-chart-container"></div>
					<table id="ability_med_avg_diff" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">
					能力 - 各班分化度
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-12">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="ability_Grade_diff_degree" class="zy-chart-container"></div>
					<table id="ability_diff_degree" class="data-table grade-data-table"></table>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane " id="grade-checkpoint-total">
		<div class="container-fluid">
			<div class="row">
				<h2 class="zy-report-subtitle">
					总成绩 - 各班平均得分率
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-9">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="total_Grade_average_percent" class="zy-chart-container"></div>
					<table id="total_average_percent" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">
					总成绩 - 各班中位数得分率
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-10">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="total_Grade_median_percent" class="zy-chart-container"></div>
					<table id="total_median_percent" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">
					总成绩 - 各班中平差值
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-11">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="total_Grade_med_avg_diff" class="zy-chart-container"></div>
					<table id="total_med_avg_diff" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">
					总成绩 - 各班分化度
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-12">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="total_Grade_diff_degree" class="zy-chart-container"></div>
					<table id="total_diff_degree" class="data-table grade-data-table"></table>
				</div>
			</div>
		</div>
	</div>
	<!--各指标表现水平图 end-->
	<!--各班人数比例图 start-->
	<div class="tab-pane " id="grade-classPupilNum-knowledge">
		<div class="container-fluid">
			<div class="row">
				<h2 class="zy-report-subtitle">
					知识 - 各班优秀率
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-13">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="knowledge_excellent" class="zy-chart-container"></div>
					<table id="knowledge_excellent_table" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">
					知识 - 各班良好达标率
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-13">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="knowledge_good" class="zy-chart-container"></div>
					<table id="knowledge_good_table" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">
					知识 - 各班不及格率
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-13">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="knowledge_faild" class="zy-chart-container"></div>
					<table id="knowledge_failed_table" class="data-table grade-data-table"></table>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane " id="grade-classPupilNum-skill">
		<div class="container-fluid">
			<div class="row">
				<h2 class="zy-report-subtitle">
					技能 - 各班优秀率
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-13">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="skill_excellent" class="zy-chart-container"></div>
					<table id="skill_excellent_table" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">
					技能 - 各班良好达标率
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-13">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="skill_good" class="zy-chart-container"></div>
					<table id="skill_good_table" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">
					技能 - 各班不及格率
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-13">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="skill_faild" class="zy-chart-container"></div>
					<table id="skill_failed_table" class="data-table grade-data-table"></table>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane " id="grade-classPupilNum-ability">
		<div class="container-fluid">
			<div class="row">
				<h2 class="zy-report-subtitle">
					能力 - 各班优秀率
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-13">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="ability_excellent" class="zy-chart-container"></div>
					<table id="ability_excellent_table" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">
					能力 - 各班良好达标率
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-13">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="ability_good" class="zy-chart-container"></div>
					<table id="ability_good_table" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">
					能力 - 各班不及格率
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-13">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="ability_faild" class="zy-chart-container"></div>
					<table id="ability_failed_table" class="data-table grade-data-table"></table>
				</div>
			</div>
		</div>
	</div>
	<!--各班人数比例图 end-->
	<!--各指标表现水平数据  start-->
	<!--<div class="tab-pane " id="grade-checkpoint-table-knowledge">-->
		<!--<div class="container-fluid">-->
			<!--<div class="row">-->
				<!--<h3 class="zy-report-subtitle">知识 - 平均得分率</h3>-->
				<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
					<!--<table id="knowledge_average_percent" class="data-table grade-data-table"></table>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="row">-->
				<!--<h3 class="zy-report-subtitle">知识 - 中位数得分率</h3>-->
				<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
					<!--<table id="knowledge_median_percent" class="data-table grade-data-table"></table>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="row">-->
				<!--<h3 class="zy-report-subtitle">知识 - 各指标中平差值</h3>-->
				<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
					<!--<table id="knowledge_med_avg_diff" class="data-table grade-data-table"></table>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="row">-->
				<!--<h3 class="zy-report-subtitle">知识 - 分化度</h3>-->
				<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
					<!--<table id="knowledge_diff_degree" class="data-table grade-data-table"></table>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->

	<!--<div class="tab-pane " id="grade-checkpoint-table-skill">-->
		<!--<div class="container-fluid">-->
			<!--<div class="row">-->
				<!--<h3 class="zy-report-subtitle">技能 - 平均得分率</h3>-->
				<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
					<!--<table id="skill_average_percent" class="data-table grade-data-table"></table>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="row">-->
				<!--<h3 class="zy-report-subtitle">技能 - 中位数得分率</h3>-->
				<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
					<!--<table id="skill_median_percent" class="data-table grade-data-table"></table>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="row">-->
				<!--<h3 class="zy-report-subtitle">技能 - 各指标中平差值</h3>-->
				<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
					<!--<table id="skill_med_avg_diff" class="data-table grade-data-table"></table>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="row">-->
				<!--<h3 class="zy-report-subtitle">技能 - 分化度</h3>-->
				<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
					<!--<table id="skill_diff_degree" class="data-table grade-data-table"></table>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->

	<!--<div class="tab-pane " id="grade-checkpoint-table-ability">-->
		<!--<div class="container-fluid">-->
			<!--<div class="row">-->
				<!--<h3 class="zy-report-subtitle">能力 - 平均得分率</h3>-->
				<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
					<!--<table id="ability_average_percent" class="data-table grade-data-table"></table>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="row">-->
				<!--<h3 class="zy-report-subtitle">能力 - 中位数得分率</h3>-->
				<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
					<!--<table id="ability_median_percent" class="data-table grade-data-table"></table>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="row">-->
				<!--<h3 class="zy-report-subtitle">能力 - 各指标中平差值</h3>-->
				<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
					<!--<table id="ability_med_avg_diff" class="data-table grade-data-table"></table>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="row">-->
				<!--<h3 class="zy-report-subtitle">能力分化度</h3>-->
				<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
					<!--<table id="ability_diff_degree" class="data-table grade-data-table"></table>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--各指标表现水平数据  end-->
	<!--各班人数比例数据  start-->
	<div class="tab-pane " id="grade-classPupilNum-table-knowledge">
		<div class="container-fluid">
			<div class="row">
				<h3 class="zy-report-subtitle">知识 - 优秀（得分率≥85%）人数比例</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="knowledge_excellent_table" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle">知识 - 良好达标（60≤得分率﹤85）人数比例</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="knowledge_good_table" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle">知识 - 不及格（得分率﹤60）人数比例</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="knowledge_failed_table" class="data-table grade-data-table"></table>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane " id="grade-classPupilNum-table-skill">
		<div class="container-fluid">
			<div class="row">
				<h3 class="zy-report-subtitle">技能 - 优秀（得分率≥85%）人数比例</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="skill_excellent_table" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle">技能 - 良好达标（60≤得分率﹤85）人数比例</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="skill_good_table" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle"> 技能 - 不及格（得分率﹤60）人数比例</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="skill_failed_table" class="data-table grade-data-table"></table>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane " id="grade-classPupilNum-table-ability">
		<div class="container-fluid">
			<div class="row">
				<h3 class="zy-report-subtitle">能力 - 优秀（得分率≥85%）人数比例</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="ability_excellent_table" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle">能力 - 良好达标（60≤得分率﹤85）人数比例</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="ability_good_table" class="data-table grade-data-table"></table>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle">能力 - 不及格（得分率﹤60）人数比例</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table id="ability_failed_table" class="data-table grade-data-table"></table>
				</div>
			</div>
		</div>
	</div>
	<!--各班人数比例数据  end-->
	<div class="tab-pane " id="grade-answerCase">
		<!--h3 class="zy-report-subtitle">年级学生答题情况统计</h3-->
		<p>
			说明：答对率指该题本年级答对人数与全班参测学生的比值。数值范围为【0，1】，数值越大，表明答对人数越多。
			答对率低于0.6的题目是本年级的薄弱点，需要重点关注。
		</p>
        <%= render partial: "correct_ratio" %>
	</div>
	<!--报告解读  start-->
	<!--<div class="tab-pane grade-report" id="grade-readReport-three" >-->
		<!--&lt;!&ndash;报告解读-三维指标&ndash;&gt;-->
	<!--</div>-->
		<!--报告解读-统计指标-->
	<div class="tab-pane grade-report" id="grade-readReport-statistics" >
	</div>
		<!--报告解读-数据解读-->
<!-- 	<div class="tab-pane grade-report" id="grade-readReport-data">
	</div> -->
	<!--报告解读  end-->
</div>

<!-- Modal 1 -->
<div class="modal fade" id="zy-modal-report-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">1级诊断图解读说明</h4>
			</div>
			<div class="modal-body">
				<h3>水平轴</h3>
				<p>知识、技能或能力维度1级指标。</p>

				<h3>垂直轴</h3>
				<p>年级中位数得分率，年级平均得分率和年级分化度。</p>

				<h3>年级中位数得分率</h3>
				<p>将全年级学生成绩从高到低排序后，处于中间位置学生的成绩情况， 公式为：（全年级学生某个指标得分的中位数/该指标的满分值）×100。</p>

				<h3>年级平均得分率</h3>
				<p>年级全体参测学生在各个指标上的整体达标情况， 公式为：（年级参测学生某个指标的平均分/该指标的满分值）×100。</p>

				<h3>年级分化度</h3>
				<p>本年级学生在某一指标上的成绩离散情况，数值越大，表明年级成绩的不均衡性越高。 公式为：（标准差/平均数）×100。</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="zy-modal-report-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">中平差值图解读说明</h4>
			</div>
			<div class="modal-body">
				<h3>水平轴</h3>
				<p>知识、技能或能力维度1级指标。</p>

				<h3>垂直轴</h3>
				<p>年级中位数得分率与年级平均得分率的差值。</p>

				<h3>差值意义</h3>
				<p>在某个指标上差值为正值，表明本年级在该指标上至少有50%学生水平都优于年级平均水平；在某个指标上差值为负值，表明本年级在该指标上至少有50%学生水平都低于年级平均水平。</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal 3 -->
<div class="modal fade" id="zy-modal-report-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">分型图解读说明</h4>
			</div>
			<div class="modal-body">
				<h3>水平轴</h3>
				<p>分化度</p>

				<h3>垂直轴</h3>
				<p>平均得分率</p>

				<h3>高质高均衡区</h3>
				<p>平均得分率大于80，分化度低于20</p>

				<h3>高质低均衡区</h3>
				<p>平均得分率大于80，分化度高于30</p>

				<h3>低质高均衡区</h3>
				<p>平均得分率小于60，分化度低于20</p>

				<h3>低质低均衡区</h3>
				<p>平均得分率小于80，分化度高于30</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal 4 -->
<div class="modal fade" id="zy-modal-report-4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">分数段人数比例图图解读说明</h4>
			</div>
			<div class="modal-body">
				<h3>水平轴</h3>
				<p>年级分数段人数百分比。</p>

				<h3>垂直轴</h3>
				<p>知识、技能或能力维度一级指标。</p>

				<h3>分数段</h3>
				<p>得分率≥85的定义为优秀，85＞得分率≥60的定义为良好达标，得分率＜60的定义为不及格。</p>

				<h3>数值意义</h3>
				<p>从左到右三个数值分别代表优秀人数、良好达标人数和不及格人数占年级总数的百分比。</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal 5 -->
<div class="modal fade" id="zy-modal-report-5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">四分位图-上四分位区间解读说明</h4>
			</div>
			<div class="modal-body">
				<h3>水平轴</h3>
				<p>知识、技能或能力维度1级指标。</p>

				<h3>垂直轴</h3>
				<p>年级上四分位学生在知识、技能或能力维度1级指标上的平均得分率。</p>

				<h3>四分位区间</h3>
				<p>将一组数据从大到小排列，计算每个数据对应的百分等级，100%和75%之间是上四分位区间。[ ]代表该区间包含临近的数值，（ ）代表该区间不包含临近的数值。</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal 6 -->
<div class="modal fade" id="zy-modal-report-6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">四分位图-中上四分位区间解读说明</h4>
			</div>
			<div class="modal-body">
				<h3>水平轴</h3>
				<p>知识、技能或能力维度1级指标。</p>

				<h3>垂直轴</h3>
				<p>年级中上四分位学生在知识、技能或能力维度1级指标上的平均得分率。</p>

				<h3>四分位区间</h3>
				<p>将一组数据从大到小排列，计算每个数据对应的百分等级，75%和50%之间为中上四分位区间。[ ]代表该区间包含临近的数值，（ ）代表该区间不包含临近的数值。</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal 7 -->
<div class="modal fade" id="zy-modal-report-7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">四分位图-中下四分位区间解读说明</h4>
			</div>
			<div class="modal-body">
				<h3>水平轴</h3>
				<p>知识、技能或能力维度1级指标。</p>

				<h3>垂直轴</h3>
				<p>年级中下四分位学生在知识、技能或能力维度1级指标上的平均得分率。</p>

				<h3>四分位区间</h3>
				<p>将一组数据从大到小排列，计算每个数据对应的百分等级，50%和25%之间为中下四分位区间。[ ]代表该区间包含临近的数值，（ ）代表该区间不包含临近的数值。</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal 8 -->
<div class="modal fade" id="zy-modal-report-8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">四分位图-下四分位区间解读说明</h4>
			</div>
			<div class="modal-body">
				<h3>水平轴</h3>
				<p>知识、技能或能力维度1级指标。</p>

				<h3>垂直轴</h3>
				<p>年级下四分位学生在知识、技能或能力维度1级指标上的平均得分率。</p>

				<h3>四分位区间</h3>
				<p>将一组数据从大到小排列，计算每个数据对应的百分等级，小于25%区间为下四分位区间。[ ]代表该区间包含临近的数值，（ ）代表该区间不包含临近的数值。</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal 9 -->
<div class="modal fade" id="zy-modal-report-9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">各班平均得分率解读说明</h4>
			</div>
			<div class="modal-body">
				<h3>水平轴</h3>
				<p>知识、技能或能力维度1级指标上的班级平均得分率</p>

				<h3>垂直轴</h3>
				<p>各个班级</p>

				<h3>数值意义</h3>
				<p>对知识、技能或能力维度1级指标上的各班平均得分率进行对比。</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal 10 -->
<div class="modal fade" id="zy-modal-report-10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">各班中位数得分率解读说明</h4>
			</div>
			<div class="modal-body">
				<h3>水平轴</h3>
				<p>知识、技能或能力维度1级指标上的班级中位数得分率</p>

				<h3>垂直轴</h3>
				<p>各个班级</p>

				<h3>数值意义</h3>
				<p>对知识、技能或能力维度1级指标上的各班中位数得分率进行对比。</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal 11 -->
<div class="modal fade" id="zy-modal-report-11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">各班中平差值解读说明</h4>
			</div>
			<div class="modal-body">
				<h3>水平轴</h3>
				<p>知识、技能或能力维度1级指标上的班级中平差值</p>

				<h3>垂直轴</h3>
				<p>各个班级</p>

				<h3>数值意义</h3>
				<p>对知识、技能或能力维度1级指标上的各班中平差值进行对比。</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal 12 -->
<div class="modal fade" id="zy-modal-report-12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">各班分化度解读说明</h4>
			</div>
			<div class="modal-body">
				<h3>水平轴</h3>
				<p>知识、技能或能力维度1级指标上的班级分化度</p>

				<h3>垂直轴</h3>
				<p>各个班级</p>

				<h3>数值意义</h3>
				<p>对知识、技能或能力维度1级指标上的各班分化度进行对比。</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal 13 -->
<div class="modal fade" id="zy-modal-report-13" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">各班分数段人数比例图解读说明</h4>
			</div>
			<div class="modal-body">
				<h3>水平轴</h3>
				<p>知识、技能或能力维度1级指标上，班级优秀、良好达标或不及格人数比例</p>

				<h3>垂直轴</h3>
				<p>参与评测的各个班级</p>

				<h3>优秀率</h3>
				<p>得分率≥85的学生占班级总人数的百分比。</p>

				<h3>良好达标率</h3>
				<p>85＞得分率≥60的学生占班级总人数的百分比。</p>

				<h3>不及格率</h3>
				<p>得分率＜60的学生占班级总人数的百分比。</p>

				<h3>数值意义</h3>
				<p>某个1级指标上，对比不同班级的优秀率、良好达标率或不及格率，发现班级间差距。</p>
			</div>
		</div>
	</div>
</div>