2<div class="container">
	<!--年级图表左面nav导航部分-->
	<ul class="nav nav-tabs panel-group chart-nav" id="accordion">
		<li><a href="#class-diagnoseEchart" title="诊断图" data-toggle="tab">诊断图</a></li>
		<li><a href="#class-NumScale" title="年级个分段人数比例" data-toggle="tab">各分数段人数比例</a></li>
		<li>
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">数据表</a>
			<ul id="collapseOne" class="panel-collapse collapse">
				<li><a href="#table-data-knowledge" data-toggle="tab">知识</a></li>
				<li><a href="#table-data-skill" data-toggle="tab">技能</a></li>
				<li><a href="#table-data-ability" data-toggle="tab">能力</a></li>
			</ul>
		</li>
		<li><a href="#class-answerCase" title="年级个分段人数比例" data-toggle="tab">答题情况统计</a></li>
		<li>
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">报告解读</a>
			<ul id="collapseTwo" class="panel-collapse collapse">
				<li><a href="#report-read-three" tabindex="-1" data-toggle="tab">三维指标含义解读</a></li>
				<li><a href="#report-read-checkpoint" tabindex="-1" data-toggle="tab">统计指标解读</a></li>
				<li><a href="#report-read-data" data-toggle="tab">数据解读</a></li>
			</ul>
		</li>
		<li>
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">测试评价<span class="caret"></a>
			<ul id="collapseThree" class="panel-collapse collapse">
				<li><a href="#exam-knowledge" data-toggle="tab">知识</a></li>
				<li><a href="#exam-skill" data-toggle="tab">技能</a></li>
				<li><a href="#exam-ability" data-toggle="tab">能力</a></li>
				<li><a href="#exam-total" data-toggle="tab">总体情况</a></li>
			</ul>
		</li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<!--<nav id='grade-top'></nav>-->
		<div class="tab-pane fade in active" id="class-diagnoseEchart">
			<!--诊断图-->
			<div class="wrapper-md">
				<h1 class="m-n font-thin h3">班级学生知识情况诊断图</h1>
			</div>
			<div class="wrapper-md pt0">
				<div class="diagnosis">
					<dl>
						<dt>知识</dt>
						<dd class="clearfix">
							<div id="knowledge_diagnose_left" class="chart"></div>
							<div id="knowledge_diagnose_center" class="chart center"></div>
							<div id="knowledge_diagnose_right" class="chart"></div>
						</dd>
					</dl>
					<dl>
						<dt>技能</dt>
						<dd class="clearfix">
							<div id="skill_diagnose_left" class="chart"></div>
							<div id="skill_diagnose_center" class="chart center"></div>
							<div id="skill_diagnose_right" class="chart"></div>
						</dd>
					</dl>
					<dl>
						<dt>能力</dt>
						<dd class="clearfix">
							<div id="ability_diagnose_left" class="chart"></div>
							<div id="ability_diagnose_center" class="chart center"></div>
							<div id="ability_diagnose_right" class="chart"></div>
						</dd>
					</dl>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="class-NumScale">
			<!--班级各分数段人数比例-->
			<div class="wrapper-md">
				<h1 class="m-n font-thin h3">班级知识、技能、能力各分数段人数比例</h1>
			</div>
			<div class="wrapper-md">
				<div class="scale">
					<div id="scale_dimesions" style="width:750px;height:300px"></div>
					<dl>
						<dt>知识班级、年级三率比较</dt>
						<dd>
							<div id="scale_knowledge" style="width:100%;height:200px"></div>
						</dd>
					</dl>
					<dl>
						<dt>技能班级、年级三率比较</dt>
						<dd>
							<div id="scale_skill" style="width:100%;height:200px"></div>
						</dd>
					</dl>
					<dl>
						<dt>能力班级、年级三率比较</dt>
						<dd>
							<div id="scale_ability" style="width:100%;height:200px"></div>
						</dd>
					</dl>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="table-data-knowledge">
			<div class="wrapper-md">
				<h1 class="font-thin h3">班级知识数据表</h1>
			</div>
			<div class="wrapper-md">
				<div id="table_data" class="clearfix">
					<section class="bt1">
						<table>
							<tr>
								<th class="col1 colbg">知识</th>
								<th class="col2">班级平<br>均值</th>
								<th class="col3">班级平均得<br>分率</th>
								<th class="col4">班级中位数<br>得分率</th>
								<th class="col5">年级平均得<br>分率</th>
								<th class="col6">班级与年级<br>平均得分率<br>差值</th>
								<th class="col7">班级中位数<br>得分率与年<br>级平均差值</th>
								<th class="col8">分化程度</th>
								<th class="col9">满分值</th>
							</tr>
							<tbody id="Class_knowledge_table"></tbody>
						</table>
					</section>
				</div>
			</div>

		</div>
		<div class="tab-pane fade" id="table-data-skill">
			<div class="wrapper-md">
			  	<h1 class="font-thin h3">班级技能数据表</h1>
			</div>
			<div class="wrapper-md">
			    <div id="table_data" class="clearfix">
			        <section class="bt1">
			            <table>
			                <tr>
			                    <th class="col1 colbg">技能</th>
			                    <th class="col2">班级平<br>均值</th>
			                    <th class="col3">班级平均得<br/>分率</th>
			                    <th class="col4">班级中位数<br>得分率</th>
			                    <th class="col4">年级平均得<br>分率</th>
			                    <th class="col5">班级与年级<br>平均得分率<br>差值</th>
			                    <th class="col6">班级中位数<br>得分率与年<br>级平均差值</th>
			                    <th class="col7">分化程度</th>
			                    <th class="col8">满分值</th>
			                </tr>
			                <tbody id="Class_skill_table"></tbody>
			            </table>
			        </section>
			    </div>
			</div>
		</div>
		<div class="tab-pane fade" id="table-data-ability">
			<div class="wrapper-md">
			  	<h1 class="font-thin h3">班级能力数据表</h1>
			</div>
			<div class="wrapper-md">
			    <div id="table_data" class="clearfix">
			        <section class="bt1">
			            <table>
			                <tr>
			                    <th class="col1 colbg">能力</th>
			                    <th class="col2">班级平<br>均值</th>
			                    <th class="col3">班级平均得<br/>分率</th>
			                    <th class="col4">班级中位数<br>得分率</th>
			                    <th class="col4">年级平均得<br>分率</th>
			                    <th class="col5">班级与年级<br>平均得分率<br>差值</th>
			                    <th class="col6">班级中位数<br>得分率与年<br>级平均差值</th>
			                    <th class="col7">分化程度</th>
			                    <th class="col8">满分值</th>
			                </tr>
			                <tbody id="Class_ability_table"></tbody>
			            </table>
			        </section>
			    </div>
			</div>
		</div>
		<div class="tab-pane fade" id="class-answerCase">
			<div class="wrapper-md">
			  	<h1 class="font-thin h3">班级学生答题情况统计</h1>
			  	<small class="m">说明：答对率指该题本班答对人数与全班参测学生的比值。数值范围为【0，1】，数值越大，表明答对人数越多。答对率低于0.6的题目是本班的薄弱点，需要重点关注。</small>
			</div>
			<div class="wrapper-md">
			    <div id="table_static" class="clearfix">
			        <section ng-controller="GridDemoCtrl1">
			            <div class="panel-heading">
			                	答对率 ≥ 0.85的题目
			            </div>
			            <table>
			            	<tr>
			            		<th>题号</th>
			            		<th>答对率</th>
			            	</tr>
			            	<tbody id="class_answer_excellent"></tbody>
			            </table>
			        </section>
			        
			        <section class="tablecenter" ng-controller="GridDemoCtrl2">
			            <div class="panel-heading">
			                0.6 ≤ 答对率 < 0.85的题目
			            </div>
			            <table>
			            	<tr>
			            		<th>题号</th>
			            		<th>答对率</th>
			            	</tr>
			            	<tbody id="class_answer_good"></tbody>
			            </table>
			        </section>
			    
			        <section class="wraning" ng-controller="GridDemoCtrl3">
			            <div class="panel-heading">
			                答对率 < 0.6的题目
			            </div>
			            <table>
			            	<tr>
			            		<th>题号</th>
			            		<th>答对率</th>
			            	</tr>
			            	<tbody id="class_answer_failed"></tbody>
			            </table>
			        </section>
			    </div>
			</div>
		</div>
		<div class="tab-pane fade" id="report-read-three">
		</div>
		<div class="tab-pane fade" id="report-read-checkpoint">
		</div>
		<div class="tab-pane fade" id="report-read-data">
		</div>
		<div class="tab-pane fade" id="exam-knowledge">
		</div>
		<!--各指标表现水平数据  end-->
		<!--各班人数比例数据  start-->
		<div class="tab-pane fade" id="exam-skill">
		</div>
		<div class="tab-pane fade" id="exam-ability">
		</div>
		<div class="tab-pane fade" id="exam-total">
		</div>
	</div>
</div>