<aside class="zy-report-leftNav">
	<ul class="chart-nav" id="tab-menu">
		<li class="tab-btn active" data-id="class-diagnoseEchart">三维诊断概要图</li>
		<li class="tab-btn" data-id="class-NumScale">各分数段人数比例图</li>
		<li>
			<a class="collapse-close" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">各指标表现水平数据表</a>
			<ul id="collapseOne" class="panel-collapse collapse">
				<li class="tab-btn" data-id="table-data-knowledge">知识</li>
				<li class="tab-btn" data-id="table-data-skill">技能</li>
				<li class="tab-btn" data-id="table-data-ability">能力</li>
			</ul>
		</li>
		<li class="tab-btn" data-id="class-answerCase">题目答对率统计表</li>
		<li>
			<a class="collapse-close" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">报告解读</a>
			<ul id="collapseTwo" class="panel-collapse collapse">
				<!--li class="tab-btn" data-id="report-read-three">三维指标含义解读</li-->
				<li class="tab-btn" data-id="report-read-checkpoint">统计指标解读</li>
				<li class="tab-btn" data-id="report-read-data">数据解读</li>
			</ul>
		</li>
		<li>
			<a class="collapse-close" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">测试评价</a>
			<ul id="collapseThree" class="panel-collapse collapse">
				<li class="tab-btn" data-id="exam-knowledge">知识</li>
				<li class="tab-btn" data-id="exam-skill">技能</li>
				<li class="tab-btn" data-id="exam-ability">能力</li>
				<li class="tab-btn" data-id="exam-total">总体情况</li>
			</ul>
		</li>
	</ul>
</aside><!--班级图表左面nav导航部分-->

<div id="myTabContent" class="tab-content">
	<h1 class="zy-report-type"></h1>
	<div class="report-nav-wrapper">
		<nav id='class-top-nav' class="reptort-top-nav"></nav>
	</div>
	<div class="tab-pane active" id="class-diagnoseEchart">
		<!--诊断图-->
		<div class="container-fluid">
			<div class="row">
				<h2 class="zy-report-subtitle">知识</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3>
						1级诊断图
						<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-1">
							解读说明
						</button>
					</h3>
					<div id="knowledge_diagnose_left" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h3>
						班级与年级平均得分率差值图
						<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-2">
							解读说明
						</button>
					</h3>
					<div id="knowledge_diagnose_center" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h3>
						班级中位数与年级平均得分率差值图
						<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-3">
							解读说明
						</button>
					</h3>
					<div id="knowledge_diagnose_right" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">技能</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3>
						1级诊断图
						<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-1">
							解读说明
						</button>
					</h3>
					<div id="skill_diagnose_left" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h3>
						班级与年级平均得分率差值图
						<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-2">
							解读说明
						</button>
					</h3>
					<div id="skill_diagnose_center" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h3>
						班级中位数与年级平均得分率差值图
						<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-3">
							解读说明
						</button>
					</h3>
					<div id="skill_diagnose_right" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">能力</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3>
						1级诊断图
						<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-1">
							解读说明
						</button>
					</h3>
					<div id="ability_diagnose_left" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h3>
						班级与年级平均得分率差值图
						<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-2">
							解读说明
						</button>
					</h3>
					<div id="ability_diagnose_center" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h3>
						班级中位数与年级平均得分率差值图
						<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-3">
							解读说明
						</button>
					</h3>
					<div id="ability_diagnose_right" class="zy-chart-container"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane " id="class-NumScale">		<!--班级各分数段人数比例-->

		<div class="container-fluid">
			<div class="row">
				<h2 class="zy-report-subtitle">
					知识、技能、能力各分数段人数比例
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-4">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="scale_dimesions" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<h2 class="zy-report-subtitle">
					班级、年级三率比较
					<button type="button" class="btn btn-md zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report-5">
						解读说明
					</button>
				</h2>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3>知识</h3>
					<div id="scale_knowledge" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3>技能</h3>
					<div id="scale_skill" class="zy-chart-container"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3>能力</h3>
					<div id="scale_ability" class="zy-chart-container"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane " id="table-data-knowledge">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">知识 - 班级数据表</h3>
					<div id="table_data" class="clearfix ">
						<%= render partial:"klass_data_table", locals: { dimesion: "knowledge"} %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane " id="table-data-skill">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">技能 - 班级数据表</h3>
					<div id="table_data" class="clearfix">
						<%= render partial: "klass_data_table", locals:{ dimesion: "skill"} %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane " id="table-data-ability">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">能力 - 班级数据表</h3>
					<div id="table_data" class="clearfix">
						<%= render partial: "klass_data_table", locals:{ dimesion: "ability"} %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane " id="class-answerCase">
		<h4>
			说明：答对率指该题本班答对人数与全班参测学生的比值。数值范围为[0，1]，数值越大，表明答对人数越多。
			答对率低于0.6的题目是本班的薄弱点，需要重点关注。
		</h4>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">答对率 ≥ 0.85的题目</h3>
					<table class="static-table">
						<tr>
							<th>题号</th>
							<th>答对率</th>
						</tr>
						<tbody id="class_answer_excellent">
						</tbody>
					</table>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">0.6 ≤ 答对率 < 0.85的题目</h3>
					<table class="static-table">
						<tr>
							<th>题号</th>
							<th>答对率</th>
						</tr>
						<tbody id="class_answer_good">
						</tbody>
					</table>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">答对率 < 0.6的题目</h3>
					<table class="static-table">
						<tr>
							<th>题号</th>
							<th>答对率</th>
						</tr>
						<tbody id="class_answer_failed">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane report-data" id="report-read-three">
	</div>
	<div class="tab-pane report-data" id="report-read-checkpoint">
	</div>
	<div class="tab-pane report-data" id="report-read-data">
	</div>

	<div class="tab-pane report-data" id="exam-knowledge">
	</div>
	<div class="tab-pane report-data" id="exam-skill">
	</div>
	<div class="tab-pane report-data" id="exam-ability">
	</div>
	<div class="tab-pane report-data" id="exam-total">
	</div>
</div>

<!-- Modal 1 -->
<div class="modal fade" id="zy-modal-report-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">1级诊断图解读说明</h4>
			</div>
			<div class="modal-body">
				<h3>水平轴</h3>
				<p>知识、技能或能力维度1级指标与其总分。</p>

				<h3>垂直轴</h3>
				<p>班级平均得分率，年级平均得分率，班级中位数得分率和分化度。</p>

				<h3>班级平均得分率</h3>
				<p>班级学生在各个指标上的整体达标情况，公式为：（全班学生某个指标的平均分/该指标的满分值）× 100。</p>

				<h3>班级中位数得分率</h3>
				<p>将全班学生成绩从高到低排序后，恰好处于中间位置的学生的成绩情况， 公式为：（全班学生某个指标得分的中位数/该指标的满分值）× 100。</p>

				<h3>年级平均得分率</h3>
				<p>年级全体参测学生在各个指标上的整体达标情况，公式为：（年级参测学生某个指标的平均分/该指标的满分）× 100。</p>

				<h3>分化度</h3>
				<p>本班学生在某个指标上的成绩离散情况，数值越大，表明班级成绩的不均衡性越高。 公式为：（标准差/平均数）× 100。</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="zy-modal-report-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">班级与年级平均得分率差值图解读说明</h4>
			</div>
			<div class="modal-body">
				<h3>水平轴</h3>
				<p>知识、技能或能力维度1级指标与其总分。</p>

				<h3>垂直轴</h3>
				<p>班级与年级平均得分率差值。</p>

				<h3>差值意义</h3>
				<p>在某个指标上差值为正值，表明本班在该指标上的表现优于年级平均水平；在某个指标上差值为负值，表明本班在该指标上的表现低于年级平均水平。</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal 3 -->
<div class="modal fade" id="zy-modal-report-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">班级中位数得分率与年级平均得分率差值图解读说明</h4>
			</div>
			<div class="modal-body">
				<h3>水平轴</h3>
				<p>知识、技能或能力维度1级指标与其总分。</p>

				<h3>垂直轴</h3>
				<p>班级中位数得分率与年级平均得分率差值。</p>

				<h3>差值意义</h3>
				<p>在某个指标上差值为正值，表明本班在该指标上至少有50%学生水平都优于年级平均水平；在某个指标上差值为负值，表明本班在该指标上至少有50%学生水平都低于年级平均水平。</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal 4 -->
<div class="modal fade" id="zy-modal-report-4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">分数段人数比例图</h4>
			</div>
			<div class="modal-body">
				<h3>水平轴</h3>
				<p>班级分数段人数百分比。</p>

				<h3>垂直轴</h3>
				<p>得分率≥85的定义为优秀，85＞得分率≥60的定义为良好达标，得分率＜60的定义为不及格。</p>

				<h3>差值意义</h3>
				<p>从左到右三个数值分别代表某维度上的优秀人数、良好达标人数和不及格人数占班级总人数的百分比。</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal 5 -->
<div class="modal fade" id="zy-modal-report-5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">班级、年级三率比较图</h4>
			</div>
			<div class="modal-body">
				<h3>水平轴</h3>
				<p>班级或年级分数段人数百分比。</p>

				<h3>垂直轴</h3>
				<p>在知识、技能或能力维度上，班级和年级分数段人数比例的对比。</p>

				<h3>差值意义</h3>
				<p>把班级分数段人数比例和年级分数段人数比例进行比较，判断班级与年级的差异。</p>
			</div>
		</div>
	</div>
</div>
