<aside class="zy-report-leftNav">
	<div class="zy-report-type"></div>
	<ul class="chart-nav box-height" id="tab-menu">
		<li class="tab-btn active" data-id="pupil-diagnoseEchart">三维诊断概要图</li>
		<li class="drop-down">
			<a class="collapse-close" data-toggle="collapse" data-target="#data_table">各指标表现水平数据表</a>
			<ul id="data_table" class="panel-collapse collapse">
				<li class="tab-btn" data-id="table-data-knowledge">知识</li>
				<li class="tab-btn" data-id="table-data-skill">技能</li>
				<li class="tab-btn" data-id="table-data-ability">能力</li>
			</ul>
		</li>
		<li class="tab-btn" data-id="improve-sugg">诊断及改进建议</li>
	</ul>
</aside>
<div id="myTabContent" class="tab-content box-height">
	<div class="zy-breadcrumb-container"></div>
	<div class="report-nav-wrapper">
		<nav id='pupil-top-nav' class="reptort-top-nav"></nav>
	</div>
	<div class="tab-pane active" id="pupil-diagnoseEchart">
		<!--诊断图-->
		<div class="container-fluid">
			<div class="row">
				<h3 class="zy-report-subtitle">学生 - 1级诊断图</h3>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h4>知识</h4>
					<div id="pupil_knowledge_radar" class="zy-chart-container" style="border-right: 1px dashed #b6b6b6;"></div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h4>技能</h4>
					<div id="pupil_skill_radar" class="zy-chart-container" style="border-right: 1px dashed #b6b6b6;"></div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<h4>能力</h4>
					<div id="pupil_ability_radar" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="zy-report-footer">
						<button type="button" class="btn btn-lg zy-btn-modal" data-toggle="modal" data-target="#zy-modal-report">
							解读说明
						</button>
					</div>
				</div>
			</div>
			<div class="row">
				<h3 class="zy-report-subtitle">学生 - 2级诊断图</h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h4>知识</h4>
					<hr class="zy-hr-dashed" />
					<div id="pupil_knowledge_diff" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h4>技能</h4>
					<hr class="zy-hr-dashed" />
					<div id="pupil_skill_diff" class="zy-chart-container"></div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h4>能力</h4>
					<hr class="zy-hr-dashed" />
					<div id="pupil_ability_diff" class="zy-chart-container"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane pupil-report-data" id="improve-sugg">
	</div>

	<div class="tab-pane " id="table-data-knowledge">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">知识 - 学生数据表</h3>
					<div class="studenttable">
						<table class="data-table pupil-data-table">
							<caption>知 识</caption>
							<tr>
								<th>知识百分等级<br>（<div id="pupil_knowledge_percentile" class="report_pupil_percentile"></div>）</th>
								<th>个人得分率</th>
								<th>年级平均水平</th>
								<th>得分率差值</th>
								<th>个人得分</th>
								<th>满分</th>
								<!--th>答对考点</th-->
							</tr>
							<tbody id="knowledge_data_table"></tbody>
						</table>
						<dl>
							<dt>说明</dt>
							<dd>
								1. 带*的表示该指标不适用；<br> 2. 涂色的数值为低于平均水平30%以上的指标，需要特别关注。
							</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane " id="table-data-skill">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">技能 - 学生数据表</h3>
					<div class="studenttable">
						<table class="data-table pupil-data-table">
							<caption>技 能</caption>
							<tr>
								<th>技能百分等级<br>（<div id="pupil_skill_percentile" class="report_pupil_percentile"></div>）</th>
								<th>个人得分率</th>
								<th>年级平均水平</th>
								<th>得分率差值</th>
								<th>个人得分</th>
								<th>满分</th>
								<!--th>答对考点</th-->
							</tr>
							<tbody id="skill_data_table"></tbody>
						</table>
						<dl>
							<dt>说明</dt>
							<dd>
								1. 带*的表示该指标不适用；<br> 2. 涂色的数值为低于平均水平30%以上的指标，需要特别关注。
							</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane " id="table-data-ability">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3 class="zy-report-subtitle">能力 - 学生数据表</h3>
					<div class="studenttable">
						<table class="data-table pupil-data-table">
							<caption>能 力</caption>
							<tr>
								<th>能力百分等级<br>（<div id="pupil_ability_percentile" class="report_pupil_percentile"></div>）</th>
								<th>个人得分率</th>
								<th>年级平均水平</th>
								<th>得分率差值</th>
								<th>个人得分</th>
								<th>满分</th>
								<!--th>答对考点</th-->
							</tr>
							<tr>
							</tr>
							<tbody id="ability_data_table"></tbody>
						</table>
						<dl>
							<dt>说明</dt>
							<dd>
								1. 带*的表示该指标不适用；<br> 2. 涂色的数值为低于平均水平30%以上的指标，需要特别关注。
							</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="zy-modal-report" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">雷达图解读说明</h4>
			</div>
			<div class="modal-body">
				<h3>雷达图面积</h3>
				<p>面积代表学科成绩的优劣。面积越大，成绩越好，面积越小，成绩越差。</p>

				<h3>雷达图半径</h3>
				<p>半径表示某个指标的评价值。最短半径表示该指标最弱；最长半径表示该指标最强。</p>

				<h3>诊断指标</h3>
				<p>各指标按顺时针方向从基础到综合依次排列。基础指标集中在右侧，综合指标集中在左侧。</p>

				<h3>积极发展型</h3>
				<p>形状饱满、均匀，重心靠近几何中心，面积大，表示学科成绩优异，各指标齐头并进，是理想的雷达图。</p>

				<h3>发展失衡型</h3>
				<p>
					重心偏离几何中心，半径长短不一，有明显的凹凸不平，表示各指标发展水平不一，明显失衡，是有待完善的雷达图。
					需要从优势指标中找信心，重点加强弱势指标的干预，实现各指标的均匀发展。
				</p>
				<h3>消极收缩型</h3>
				<p>
					图形收缩在几何中心附近，所有半径均偏短，面积小，表示各指标发展水平都很差，学科成绩低下，是最差的雷达图。
					表明学生学科兴趣低，学科信心差，需要先加强非智力方面的干预，再补足学科不足。
				</p>
			</div>
		</div>
	</div>
</div>
