<div class="zy-report-container">
  <!--诊断报告头部 end-->
  <div class="zy-report-topNav">
    <div class="zy-report-nav-container">
      <%= render partial: "nav_menus" %>
    </div>
    <div class="zy-breadcrumb-container"></div>
  </div>
  <div id="reportContent" class="clearfix report-content"></div>
</div>
