<% item_html = report_menus_field @scope_menus %>
<div class="zy-report-container">
  <!--诊断报告头部 end-->
  <div class="zy-report-topNav">
    <div class="zy-report-nav-container">
      <a class="zy-report-navEntry">
        <span>查看报告</span>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a>
      <%= item_html.html_safe %>
    </div>
    <div class="zy-breadcrumb-container"></div>
  </div>
  <div id="reportContent" class="clearfix report-content"></div>
</div>
<script type="text/javascript">
  var ReportMenus = <%=raw @scope_menus.to_json%>;
</script>

