@charset "utf-8";
body{
	font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
}
/*样式重置*/
/*body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
        margin:0;
        padding:0;
}*/
table {border-collapse:collapse;border-spacing:0;}
fieldset,img { border:0;display:block;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;
font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q::before,q::after {content:'';}
abbr,acronym { border:0;}
a{text-decoration: none;}
input{
	outline: none;
	
}
b{
	font-weight:100;
}
em{
	font-style:normal;
}
/*公共样式组件*/
/*文字排版*/
.f12{
	font-size:12px;
}
.f14{
	font-size:14px;
}
.f16{
	font-size:16px;
}
.f18{
	font-size:18px;
}
.fb{
	font-weight:bolder;
}
.fn{
	font-weight:normal;
}

.t2{
	text-indent:2em;/*首行空两格显示*/
}
.lh100{
	line-height:100%;
}
.unl{
	text-decoration:underline;
}
.no_unl{
	text-decoration:none;
}
/*定位*/
.tl{
	text-align:left;
}
.tc{
	text-align:center;
}
.tr{
	text-align:right;
}
.bc{
	margin:0 auto;
}
.fl{
	float:left;_display:inline;
}
.fr{
	float:right;_display:inline;
}

/*清除浮动*/
.cb{
	clear:both;
}
.cl{
	clear:left;
}
.cr{
	clear:right;
}
.clearfix{
	zoom:1;/*万能清除浮动法*/
}
.clearfix:after{
	content: ".";
    display: block;
    height: 0;
    clear: both;
}
.vm{
	vertical-align: middle;
}
.pr{
	position:relative;
}
.pa{
	position:absolute;
}
.zoom{
	zoom:1
}
.vhidden{
	visibility: hidden;
}
.ohidden{
	overflow:hidden;
}
.none{
	display:none;
}
.block{
	display:block;
}
.inBlock{
	display:inline-block;
}
/*宽度*/
.w100{
	width:100%;
}

/*高度*/
.h100{
	height:100%;
}
.ha{
	height:auto;
}

/*手型鼠标*/
.cp{
	cursor: pointer;
}


.ff{
	font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
}