@charset "utf-8";
.onlinetest{
	background:#fff;
	padding:16px 50px 0;
	border-radius: 4px;
	min-height:698px;
}
.onlinetest h2{
	height:50px;
	line-height:50px;
	border-bottom:1px dashed #f2f2f2;
	color:#000;
} 
.online_search_box{
	padding:24px 0; 
	height:38px;
}

.online_search_box form{
	width:254px;
	height:36px;
	border:1px solid #f2f2f2;
	border-radius: 4px;
}
.online_search_box form input{
	border:none;
	height:36px;
	float:left;
}
.online_search_box form input[type=text]{
	width:203px;
	padding-left:15px;
	color:#ccc;
}
.online_search_box form input[type=button]{
	width:36px;
	background:#f2f2f2 image-url('searchbtn.png') no-repeat center center;
}


.online_list{
	border:1px solid #eee;
	border-radius: 4px;
}
.online_list ul{
	clear:both;
	line-height:40px;
	border-top:1px solid #eee;
	overflow:hidden;
	color:#333;
}
.online_list ul:nth-child(1){
	border-top:none;
	color:#858585;
	background:#f9f9f9;
}
.online_list ul li{
	border-right:1px solid #eee;
}
.online_list ul li:nth-child(1){
	width:37px;
}
.online_list ul li:nth-child(2){
	width:115px;
}
.online_list ul li:nth-child(3){
	width:165px;
}
.online_list ul li:nth-child(4){
	width:76px;
}
.online_list ul li:nth-child(5){
	width:119px;
}
.online_list ul li:nth-child(6){
	width:167px;
	border-right:none;
}

.online_list li{
	float:left;
}
.online_list ul li:last-child span{
	color:#32ad99;
	margin-right:5px;
	cursor: pointer;
}

.online_bottom{
	margin-top:42px;
}
.online_bottom input{
	width:106px;
	height:22px;
	border:1px solid #dfdfdf;
	background:#fff;
	color:#7a7a7a;
}
.pageNum li{
	float:left;
	padding:0 8px;
	height:22px;
	border:1px solid #dfdfdf;
	line-height:22px;
	margin-right:4px;
	cursor: pointer;
	color:#7a7a7a;
}
.pageNum li:first-child,.pageNum li:last-child{
	padding:0;
	width:66px;
}
.pageNum li.se_active{
	background:#14a892;
	border-color:#14a892;
	color:#fff;
}

/*edit_test page css*/
@charset "utf-8";
.testingMain{
	background:image-url('register_bg.png') ;
	padding-top:30px;
	padding-bottom: 104px;
	min-height:782px;
}

.testingcneter{
	width:1000px;
	background:#fff;
	border-radius: 5px;
	
}
.pageTitle{
	line-height:86px;
	border-bottom:1px solid #f1f1f1;
}

.testing_selectBox{
	padding:52px 82px 48px 82px;
	min-height:227px;
}
.testing_selectBox ul li{
	overflow:hidden;
	width:222px;
	float:left;
	margin-right:80px;
	line-height:38px;
	margin-bottom: 12px ;
}
.testing_selectBox ul li:nth-child(3),.testing_selectBox ul li:nth-child(6){
	margin-right:0;
}
.testing_selectBox ul li:nth-child(7){
	width:526px;
	margin-top:40px;
}
.testing_selectBox ul li:nth-child(7) select{
	
	width:438px;
}
.testing_selectBox ul li:nth-child(8){
	margin-right:0;
	margin-top:40px;
} 
.testing_selectBox ul li:nth-child(8) input{
	float:left;
	width:136px;
	height:38px;
	background:#15a993;
	border-radius: 5px;
	border:none;
	color:#fff;
	font-size:14px;
} 
.testing_selectBox ul li:nth-child(9){
	width:335px;
}
.testing_selectBox ul li:nth-child(9) input[type="text"]{
	width:121px;
	height:36px;
	border:1px solid #f1f1f1;
	border-radius: 4px;
	padding-left:15px;
}
.testing_selectBox ul li:nth-child(9) input[type="button"]{
	width:66px;
	height:38px;
	background:#15a993;
	color:#fff;
	border:none;
	border-radius: 4px;
} 
.testing_selectBox li label{
	float:left;
	width:86px;
}
.testing_selectBox li select{
	float:left;
	width:136px;
	height:36px;
	border:1px solid #eee;
	border-radius: 4px;
	background:image-url('select.png') no-repeat center right;
}


.testing_next{
	border-top:1px solid #f1f1f1;
	height:87px;
	line-height:87px;
}
.testing_next input{
	width:118px;
	height:34px;
	border-radius: 4px;
} 
.testing_next input:first-child{
	border:1px solid #dfdfdf;
	background:#fff;
	margin-right:12px;
	color:#6b6b6b;
}
.testing_next input:last-child{
	border:1px solid #15a993;
	background:#15a993;
	color:#fff;
	margin-right:82px;
}


.inspectBox{
	padding:28px 86px 34px;
	width:828px;
	/*min-height:350px;*/
	border-radius: 5px;
	background:#fff;
	left:0;
	top:240px;
	box-shadow:0 -3px 18px 5px #ccc;
}
.inspectBox::before{
	content: '';
	width:17px;
	height:9px;
	background:image-url('xiaojian.png') no-repeat;
	position:absolute;
	top:-9px;
	right:145px;
}
.inspectBox h2{
	line-height:28px;
	height:28px;
	margin-bottom: 18px;
}
.inspectBox h2 input{
	width:108px;
	height:28px;
	background:#15a993;
	color:#fff;
	border:none;
	border-radius: 4px;
}
.exam_stu_btn{
	width:80px;
	height:28px;
	background:#15a993;
	color:#fff;
	border:none;
	border-radius: 4px;
	margin-top:20px;
}
.inspectBox table{
	width:258px;
	float:left;
	height:240px;
	border:1px solid #ededed;
} 
.inspectBox table td{
	border:1px solid #ededed;
}
.inspectBox table tr td:first-child{
	text-align:center;
}
.inspectBox table tr td:nth-child(2){
	text-align:center;
	
}
.inspectBox table:nth-child(2){
	height:281px;
	margin:0 24px;
}
.inspectBox table:nth-child(3){
	height:200px;
}


.add_student{
	width:600px;
	height:344px;
	padding-top:7px;
	background:#fff;
	left:159px;
	top:290px;
	box-shadow:0 -3px 30px 5px #ccc;
	border-radius: 5px;
	padding-left:66px;
}
.add_student::before{
	content: '';
	width:17px;
	height:9px;
	background:image-url('xiaojian.png') no-repeat;
	position:absolute;
	top:-9px;
	left:175px;
}
.add_student_top{
	height:66px;
	line-height:66px;
	font-size:14px;
	color:#1c1c1c;
}
.add_student_top p{
	float:left;
	
}
.add_student_top p input[type="radio"]{
	margin-right:8px;
}
.add_student_top p:nth-child(1){
	width:56px;
}
.add_student_top p:nth-child(2){
	width:106px;
}
.add_student_top p:nth-child(3){
	width:80px;
}
.add_student_top p:nth-child(4){
	width:104px;
}
.add_student_top form{
	float:left;
	width:176px;
	height:36px;
	border:1px solid #f2f2f2;
	border-radius: 4px;
	margin-top:14px;
}
.add_student_top form input{
	
	border:none;
	float:left;
}
.add_student_top form input[type="text"]{
	width:126px;
	height:36px;
	line-height:36px;
	padding-left:14px;
}
.add_student_top form input[type="button"]{
	width:36px;
	height:36px;
	background: #f2f2f2 image-url('searchbtn.png') no-repeat center center;
	cursor: pointer;
}
.add_student table{
	width:523px;
	height:203px;
	text-align:center;
	color:#080808;
	font-size:14px;
}
.add_student table td{
	border:1px solid #eee;
}
.add_student table tr:first-child{
	background:#f9f9f9;
	color:#878787;
}
.add_student table tr td:first-child{
	width:37px;
}
/*send_test start*/
.startMain{
	background:image-url('register_bg.png');
	padding-top:31px;
	padding-bottom:60px;
}

.startCenter{
	width:1000px;
	background:#fff;
	border-radius: 5px;
}
.startCenter h1{
	height:86px;
	line-height:86px;
	text-align:center;
	font-size:18px;
	border-bottom: 1px solid #f1f1f1;
}
.wordPage{
	border-bottom:1px dashed #eee;
	padding-left:86px;
	padding-top:40px;
	padding-bottom:15px;
}
.wordPage p{
	line-height:24px;
}
.wordPage p input{
	width:54px;
	border:none;
	border-bottom:1px dashed #a4a4a4; 
}
.wordPage ul{
	padding-left:20px;
	line-height:28px;
}
.wordPage:last-child{
	border-bottom: none;
}
.wordPage:last-child p input{
	width:145px;
}
.statFoot{
	border-top:1px solid #eee;
	height:62px;
	padding-top:24px;
}
.statFoot input{
	width:240px;
	height:38px;
	border-radius: 4px;
	background:#15a993;
	font-size:14px;
	_display:inline;
	color:#fff;
	border:none;
	margin-right:86px;
}
.statFoot span{
	width:106px;
	height:36px;
	border:1px solid #dfdfdf;
	line-height:36px;
	text-align:center;
	background:#fff;
	border-radius: 4px;
	margin-right:7px;
}
/*send_test end*/
