<% content_for :head do %>
	<%= stylesheet_link_tag 'managers/checkpoints', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'managers/checkpoints', 'data-turbolinks-track' => true %>
<% end %>
<div class="shaixuan">
	<%= select_tag :subject, options_for_select(@subjects), include_blank: true %>
	
	<select name="" id="grades">
		<option value=""></option>
	</select>
	<select name="" id="texType">
		<option value="" ></option>
	</select>
	<select name="" id="texVolume">
		<option value="" ></option>
	</select>
</div>
<div id="wrap">
	<span id="knowledge_tree" class="ztree" style="display: block ; width: 30%; float: left;height: 650px; margin: 5px;"></span>
	<span id="skill_tree" class="ztree" style="display: block; width: 30%; float: left; height: 650px; margin: 5px;"></span>
	<span id="ability_tree" class="ztree" style="display: block; width: 30%; float: left;height: 650px;margin: 5px;"></span>
</div>
<div id="dlg" class="easyui-dialog" title="录入表单"  style="width:400px;height:280px;padding:10px 20px" 
	data-options="iconCls:'icon-save',resizable:true,modal:false,closed:true,buttons:'#dlg-buttons'">
	<form id="fm" method="post">
		<div class="fcheckpoint">
			<label>名称：</label>
			<input name="checkpoint" type="text" class="checkpoint" class="easyui-validatebox" data-options="required:true" >
		</div>
		<div class="desc">
			<label>描述：</label>
			<input type="text" name="desc" class="desc"/>
		</div>
		<div class="desc">
			<label>建议：</label>
			<input type="text" name="advice" id="advice"/>
		</div>
		<div class="fcats">
			<label>教材目录：</label>
			<select multiple="true" name="cats[][cat_uid]" id="select-box">
			</select>
		</div>
		<input type="hidden" name="dimesion" class="dimesion"/>
		<input type="hidden" name="node_uid" class="node_uid"/>
		<input type="hidden" name="str_pid" class="str_pid"/>
	</form>
</div>
<div id="dlg-buttons">
	<a href="#" id="save" class="easyui-linkbutton" iconCls="icon-ok">保存</a>
	<a href="#" id="cancel" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
</div>