<ul class="nav nav-tabs" role="tablist">
  <% left_panel_menus.each do |key, value| %>
    <li role="presentation" class="<%= 'active' if current_page?(value) %>">
      <i class="tooltip-arrow"></i>
      <%= link_to t("page.user_left_menu.#{key}"), value %>
    </li>
  <% end %>    
</ul>
