<ul class="nav nav-tabs" role="tablist">
  <% left_pabel_menus_in_account_binding.each do |key, value| %>
    <li role="presentation" class="<%= 'active' if controller_name == key.to_s %>">
      <i class="tooltip-arrow"></i>
      <%= link_to t("page.user_left_menu_in_account_binding.#{key}"), value %>
    </li>
  <% end %>
</ul>