/*
*= require easyui/themes/default/easyui.css
*= require easyui/themes/icon.css
*= require_self
*/

#dlg #fm{
	padding:5px;
	font-family: "微软雅黑";
	font-size:14px;
	color:#444;
}
#dlg #fm div{
	overflow:hidden;
}
#dlg #fm label{
	width:70px;
	height:24px;
	line-height:24px;
	float:left;
}
#dlg #fm input[type="text"]{
	width:185px;
	float:left;
	height:22px;
	line-height:22px;
	border-radius: 3px;
	border:1px solid #ccc;
	outline: none;
	padding-left:10px;
	color:#888;
}
#dlg #fm select{
	width:195px;
	float:left;
	border-radius: 3px;
	border:1px solid #ccc;
	padding-left:10px;
	color:#888;
}

a{ text-decoration:none;}
.textbox03 {border: #878787 1px solid;padding: 4px 3px;line-height: 14px; background-color: #fff;  height: auto; font-size: 14px;  font-weight: bold; width: 190px; }

.txt01{padding:3px 2px 2px 2px; border-width:1px; border-color:#ddd;  color:#000;}
.txt {border: #878787 1px solid;padding: 4px 3px;font:Verdana, Geneva, sans-serif,宋体;line-height: 14px; background-color: #fff;  height: auto; font-size: 14px;}
.footer{text-align:center;color:#15428B; margin:0px; padding:0px;line-height:23px; font-weight:bold;}

.head a{color:White;text-decoration:underline;}

.easyui-accordion ul{list-style-type:none;margin:0px; padding:10px;}
.easyui-accordion ul li{ padding:0px;}
.easyui-accordion ul li a{line-height:24px; color:#333;}
.easyui-accordion ul li div{margin:2px 0px;padding-left:10px;padding-top:2px;}
.easyui-accordion ul li div.hover{border:1px dashed #99BBE8; background:#E0ECFF;cursor:pointer;}
.easyui-accordion ul li div.hover a{color:#416AA3;}
.easyui-accordion ul li div.selected{border:1px solid #99BBE8; background:#E0ECFF;cursor:default;}
.easyui-accordion ul li div.selected a{color:#416AA3; font-weight:bold;}
