<form action='/quizs/single_quiz_file_upload' method='post' enctype='multipart/form-data'>
	<%= token_tag form_authenticity_token %>
	str_tempid: <input type="text" name="str_tempid"><br/>
	Select a  file: <input type="file" name="file"><br />

	<input type="submit" name="submit">
</form>
