
<form action='/quizs/quiz_create_type1upload' method='post' enctype='multipart/form-data'>
<%= token_tag form_authenticity_token %>
Select a paper file: <input type="file" name="file_paper"><br/>
Select a answer file: <input type="file" name="file_answer"><br />
Select a analysis file: <input type="file" name="file_analysis"><br />

<input type="submit" name="submit">
</form>
