<% @page_title = '我的题库' %>
<div class="myquestionbank ohidden">
	<h2 class="f16 ohidden"><b class="fl fb">我的题库</b><span class="fr f12 addquesetion block cp">增加试题</span></h2>
	<%#= render 'users/search_block' %>
	<div class="questionpage">
		<h3 class="f14"><b>选择题</b><span>(试题来源)</span></h3>
		<div class="qusetionmate f16">
			<h4>There is a computer<input type="text"/> the desk.</h4>
			<ul>
				<li><input type="checkbox" name="mata"/><label>A.on</label></li>
				<li><input type="checkbox" name="mata"/><label>B.in</label></li>
				<li><input type="checkbox" name="mata"/><label>C.under</label></li>
				<li><input type="checkbox" name="mata"/><label>D.for</label></li>
			</ul>
		</div>
		<div class="questionInfor f12">
			<a class="fl block" href="javascript:">查看答案与解析</a>
			<div class="fl difficulty ohidden">
				<label class="fl">试题难度:</label>
				<ul class="ohidden fl">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<p class="fl">浏览次数:<span>1298</span></p>
		</div>
	</div>
</div>

