<script type="text/template" class="bank_paper_list">
  <div class="source">
    <div class="paper">
      <label>试卷列表&nbsp;:</label>
        <a href="" class="btn btn-success btn-sm paper_new">
          <span><%= t('page.paper.add_paper') %></span>
        </a>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= "学科" %></th>
          <th><%= "状态" %></th>
          <th><%= "操作" %></th>
        </tr>
      </thead>
      
      <tbody class="paper_list">
      </tbody>
    </table>
  </div>
</script>      
