<div class="zhengjuang">
	<div class="container" >
    <div class="contentBody">
      <%= render partial: "form_info" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  var union_test_info = <%= raw @union_test_info.to_json %>;
</script> 