<% content_for :work_field do %>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="panel">
                <%= render 'pupil' %>
            </div>
        </div>
    </div> 
<% end %>

