<% content_for :work_field do %>
	<div class="tab-content">
		<div role="tabpanel" id="test">
			<div class="panel">
				<!-- 标题区 -->
				<%= render partial: 'report' %>
			</div>
		</div>
	</div>
<% end %>
	
