<% content_for :work_field do %>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="panel">
                <!-- 个人信息 -->                   
                <%= render 'teacher' %>
            </div>
        </div>
    </div> 
<% end %>

