<% @page_title = '无权限访问' %>
<section class="error401">
	<div class="textinfo">
		<i></i>
		<p>遗憾呀，您没有访问权限，系统将 <b id="num">3</b> 秒后返回首页</p>
		<a href="/" class="btn backhome">回到首页</a>
	</div>
</section>