<% @page_title = '404页面'%>
<section class="error404">
	<div class="textinfo">
		<p>提示：您可能输错了网址，或该网页已删除或不存在，系统将 <b id="num">3</b> 秒后返回首页</p>
		<a href="/" class="btn backhome">回到首页</a>
	</div>
</section>