<% content_for :work_field do %>
	<div class="tab-content">
		<div role="tabpanel" id="test">
			<div class="panel">
				<!-- 标题区 -->
				<%= render partial: 'shared/paper/paper_list_title' %>

				<!--列表区-->
				<%= render partial: 'shared/paper/paper_list' %>
			</div>
		</div>
	</div>
<% end %>