<div class="hint">测试配置项</div>
<div class="form-group test_config">
  <label for="report_ext_path" class="col-sm-3 control-label">外部数据路径code:</label>
  <div class="col-sm-9">
  	<input type="text" class="form-control report_ext_data_path" id="report_ext_path">
  </div>
</div>