@charset "utf-8";
.chart-nav{
	width:150px;
	background: #38445f;
	float:left;
}
.chart-nav a{
	font-size:12px;
	font-weight: 100;
	display:block;
	width:120px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    display:block;
}
.chart-nav>li>a:hover{
	background:#38445f;
}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus,.nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus{
	background:#38445f;
	border:0 none;
	outline: none;
}
#knowledge_line2{
	width:500px;
	height:400px;
}
.chart-nav li{
	cursor: pointer;
}
.drop-menu ul{
	display:none;
}

.container .tab-content{
	color:#000;
}
.tab-content a{
	color:#000;
}










