@charset "utf-8";
.zy-report-title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.zy-chart-container {
	height: 480px;
}
.dropdown_box{
	min-width: 250px;
	max-width: 280px;
	padding: 15px 20px;
	background: #15a892;
}
.exam-name{
	padding-left: 20px;
	letter-spacing: 1.5px;
}
.classMenu{
	display: block;
	font-size: 20px;
	cursor: pointer;
}
.classMenu span{
	color:#fff;
}
.classMenu small{
	color: #fff;
	float: right;
}
.dropdown_menu{
	display:none;
	width:154px;
	position:absolute;
	top:37px;
	left:0;
	margin-left:0;
	background:#19b8a0;
	z-index:100;
}
.dropdown_menu>li{
	display: block;
	height:37px;
	line-height:37px;
	cursor: pointer;
	padding-left:20px;
	position: relative;
}
.dropdown_menu>li a{
	display:block;
	width:100px;
	float:left;
	color:#fff;
}
.dropdown_menu>li small{
	color:#36c9b2;
}
.dropdown-submenu {
    position: relative;
}
.dropdown_menu>li.active{
	background:#15a892;
}
.dropdown_menu>li.active small{
	display:none;
}
.dropdown_menu>li>ul{
	-webkit-box-shadow: 3px 3px 5px #ccc;  
	-moz-box-shadow: 3px 3px 5px #ccc;  
	box-shadow: 3px 3px 5px #ccc;  
	background: #fff;
	border-top:1px solid #eee;
	width:400px;
	display:none;
	position:absolute;
	left:125px;
	overflow:hidden;
	padding:12px;
}
.dropdown_menu>li>ul.submit_menu{
	top:0;
	left:154px;
}
.dropdown_menu>li>ul.active{
	bottom: 0;
}
.dropdown_menu .title>div{
	display:block;
	width:100%;
	text-align: center;
	border-style: solid;
	border-color: #15a892;
	border-width: 0 0 0.5px 0;
}
.dropdown_menu .title:hover{
	color: black;
	background: white;
}
.report_menu_teacher{
	width:70px;
	text-align:center;
	line-height:30px;
	float:left;
}
.dropdown_menu>li>ul li:hover{
	background:#15a892;
	color:#fff;
}
.grade-top-list{
	height:60px;
	line-height:60px;
	border:1px solid #ccc;
}
.grade-top-list li{
	float:left;
	line-height:60px;
}
#knowledge_line1,#knowledge_line1{
	width:500px;
	height:400px;
}
/* 报告container */
.report-content{
	display: flex;
}

/* 报告左侧导航栏 */
.zy-report-leftNav {
	min-width: 250px;
	max-width: 280px;
}













