@charset "utf-8";
.zy-report-type {
	width: $sidebar-width;
	background: #15a892;
	position: relative;
	flex-shrink: 0;
	padding: 15px 20px;
	font-size: 24px;
	color: #fff;
	height: 66px;
}
.zy-breadcrumb-container {
	height: 56px;
	.zy-breadcrumb {
		padding: 1rem 0;
		background: none;
		list-style: none;
		border-radius: 3px;
		margin-top: 0.5rem;
		> li {
			display: inline-block;
		}
		> .active {
			color: #727272;
		}
	}
}
.zy-chart-container {
	width: 100%;
	height: 520px;
	margin-bottom: 3rem;
}
.dropdown_box{
	width: $sidebar-width;
	background: #15a892;
	position: relative;
	flex-shrink: 0;
}
.exam-name{
	padding-left: 20px;
	letter-spacing: 1.5px;
}
.classMenu{
	padding: 15px 20px;
	display: block;
	font-size: 20px;
	cursor: pointer;
	color: $white;
	&:focus,
	&.focus {
		text-decoration: none;
		color: $white;
	}
	&:hover {
		color: $white;
	}
	span {
		float: right;
	}
}
.zy-grade-menu {
	width: 200px;
}
.zy-class-menu {
	margin: 0;
	padding: 0;
	display:none;
	position: absolute;
	top: 0;
	right: 199px;
	margin-left: 0;
	z-index: 100;
	width: 200px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 3px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
	> li {
		> a {
			display: block;
			padding: 15px 20px;
			color: #212121;
			cursor: pointer;
			&:hover,
			&:focus {
				background-color: #f5f5f5;
			}
			span {}
		}
		ul.zy-student-menu {
			-webkit-box-shadow: 3px 3px 5px #ccc;
			-moz-box-shadow: 3px 3px 5px #ccc;
			box-shadow: 3px 3px 5px #ccc;
			background: #fff;
			border-top: 1px solid #eee;
			width: 400px;
			display: none;
			position: absolute;
			right: 199px;
			top: 0;
			overflow: hidden;
			padding: 12px;
			.title {
				font-size: 20px;
				border-style: solid;
				border-color: #15a892;
				border-width: 0 0 0.5px 0;
				text-align: center;
			}
			> li {
				> a {
					color: #212121;
					padding: 10px 0;
					text-align: center;
					width: 33%;
					float: left;
					&:hover {
						color: #fff;
						background-color: $color-main;
						cursor: pointer;
					}
				}
			}
		}
	}
}
.grade-top-list{
	height:60px;
	line-height:60px;
	border:1px solid #ccc;
}
.grade-top-list li{
	float:left;
	line-height:60px;
}
#knowledge_line1,#knowledge_line1{
	width:500px;
	height:400px;
}
/* 报告container */
.report-content{
	display: flex;
}

/* 报告左侧导航栏 */
.zy-report-leftNav {
	width: $sidebar-width;
	flex-shrink: 0;
}
.zy-report-title {

}
.zy-report-subtitle {
	border-left: 4px solid #15a892;
	padding-left: 10px;
}

.tab-pane {
	.row {
		margin-bottom: 2rem;
	}
}

.zy-hr-dashed {
	border: 1px dashed #b6b6b6;
}

.zy-report-footer {
	text-align: right;
	.zy-btn-modal {
		color: #fff;
		background-color: #15a892;
		letter-spacing: 2px;
	}
}
.zy-dropdown {
	.zy-dropdown-menu {
		color: #212121;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;
		display: none;
		float: left;
		min-width: 160px;
		padding: 5px 0;
		margin: 2px 0 0;
		list-style: none;
		font-size: 16px;
		text-align: left;
		background-color: #fff;
		border: 1px solid #ccc;
		border: 1px solid rgba(0, 0, 0, 0.15);
		border-radius: 3px;
		-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
		background-clip: padding-box;
		> li {
			> a {
				color: #212121;
				&:hover,
				&:focus {
					background-color: #212121;
				}
			}
		}
	}
}










