@charset "utf-8";

/* CSS Document */
*{ margin:0px; padding:0px;}
a{ text-decoration:none;color: #968687;}
ul,ul li{ list-style:none;}
html,body{font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;font-size: 14px;}
/*样式重置*/
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0; vertical-align: top}
li{list-style:none}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
button,input[type="submit"]{border:none;background:none;appearance:none;outline:none}
input,textarea  {border:none;background:none;appearance:none;outline:none}
a{touch-callout:none;text-decoration:none;}
em, i{font-style:normal}
textarea {resize:none}
button::-moz-focus-inner,
input::-moz-focus-inner,
textarea::-moz-focus-inner{
    border: 0;
    padding: 0;

}
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
	font-size:16px;
}
input:focus, textarea:focus{ border: 0;
    padding: 0;}

button,input{-webkit-appearance:none;	font-size:25px;}
::-webkit-input-placeholder {
    color-:white;
}
a:hover{
	text-decoration: none;
}
