<% content_for :head do %>
<link rel="stylesheet" href="/pupil_reports/css/main.css">
<% end %>
<section ng-app="classreport">
  <div class="container" ng-controller="NavbarCtrl">
    <nav class="navbar navbar-default" role="navigation">
      <div class="gradients"></div>
      <div class="navbar-header">
        <p><b>【英语】</b>西安交大附属中学2016年春季学期英语期中测试诊断报告</p>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li ng-repeat="a1 in navbar" class="dropdown" ng-class="{active:isActive(a1.label)}">
            <a href="{{ a1.label }}" class="dropdown-toggle" data-toggle="dropdown"><span>500人<i class="fa fa-sort-down"></i></span> {{ a1.label }} </a>
            <ul class="dropdown-menu menu-top">
              <li ng-repeat="a2 in a1.children" class="dropdown-submenu">
                <a tabindex="-1" href="{{ a2.label }}"><i></i><u class="fa fa-angle-right"></u><span>{{ a2.num }}</span>{{ a2.label }}</a>
                <ul ng-show="a2.children.length>0" class="dropdown-menu">
                  <li ng-repeat="a3 in a2.children">
                    <a href="{{ a3.label }}" ng-click="go(a3.link)">{{ a3.label }}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <iframe src="/class_reports/report_data"></iframe>
  </div>
</section>
<script type="text/javascript">
  $(document).ready(function(){
    $("body").attr('id', 'report')
  })
</script>