<% content_for :head do %>
	<%= stylesheet_link_tag 'default/ques-bank', media: 'all', 'data-turbolinks-track' => true %>
<% end %>
		<section>
			<div class="container">
				<div class="top-select-box">
					<select>
			            <option>全部学科</option>
			            <option>语文</option>
			            <option>数学</option>
			            <option>英语</option>
			            <option>物理</option>
			            <option>化学</option>
			            <option>政治</option>
			            <option>历史</option>
			            <option>生物</option>
			            <option>地理</option>
			        </select>
					<select>
			            <option>七年级</option>
			            <option>八年级</option>
			            <option>九年级</option>
			        </select>
					<select>
			            <option>全部类型</option>
			            <option>单选题</option>
			            <option>多选题</option>
			            <option>填空题</option>
			            <option>写作</option>
			            <option>阅读理解</option>
			        </select>
				</div>
				<div class="ques-page-box">
					<div class="ques-page">
						<div class="clearfix">
							<ul class="ques-content">
								<li>1.-Hi, Lucy,Nice to meet you. -Hi,Jim.<input type="text"/>.</li>
								<li>A. Fine, thank you</li>
								<li>B. Nice to meet you，too.</li>
								<li>C. Good morning</li>
								<li>D. How do you do</li>
							</ul>
							<ul class="ques-info">
								<li>出&nbsp;&nbsp;处：北京市海淀区二十二中学八年级期末考试</li>
								<li>知识点：词汇、词法、冠词、不定冠词</li>
								<li>技能点：度、记忆、识别</li>
								<li>能力点：数理（逻辑）-逻辑分析-关系分析</li>
								<li>难&nbsp;&nbsp;度：容易</li>
							</ul>
						</div>
						<div class="anser-keys">
							<a class="unwind" href="javascript:void(0)">答案解析<span class="to-right"></span></a>
							<div class="parse-con clearfix">
								<p>
									<span>答案：B</span>
									<span>解析：该场景需要使用到物主代词</span>
								</p>
								<a class="pack-up" href="javascript:void(0)">收起<span class="to-top"></span></a>
							</div>
						</div>
					</div>
					<div class="ques-page">
						<div class="clearfix">
							<ul class="ques-content">
								<li>2.-What's the boy's family name?</li>
								<li>A. Miller.</li>
								<li>B. Smith.</li>
								<li>C. Alan.</li>
							</ul>
							<ul class="ques-info">
								<li>出&nbsp;&nbsp;处：福建比孚学校四年级期末考试试题</li>
								<li>简单句-疑问句-选择疑问句答语</li>
								<li>技能点：度-记忆-识别</li>
								<li>能力点：语言理解-意义建构性理解</li>
								<li>难&nbsp;&nbsp;度：中等</li>
							</ul>
						</div>
						<div class="anser-keys">
							<a class="unwind" href="javascript:void(0)">答案解析<span class="to-right"></span></a>
							<div class="parse-con clearfix">
								<p>
									<span>答案：B</span>
									<span>解析：该场景需要使用到物主代词</span>
								</p>
								<a class="pack-up" href="javascript:void(0)">收起<span class="to-top"></span></a>
							</div>
						</div>
					</div>
					<div class="ques-page">
						<div class="clearfix">
							<ul class="ques-content">
								<li>3.-Do you know how to <input type="text" />this word? -Yes,B-A-L-L.</li>
								<li>A. spell</li>
								<li>B. read</li>
								<li>C. see</li>
								<li>D. meet</li>
							</ul>
							<ul class="ques-info">
								<li>出&nbsp;&nbsp;处：西安六中月考试题</li>
								<li>知识点：词型与词义</li>
								<li>技能点：读-理解-信息提取</li>
								<li>能力点：词汇辨析-词义辨析</li>
								<li>难&nbsp;&nbsp;度：较难</li>
							</ul>
						</div>
						<div class="anser-keys">
							<a class="unwind" href="javascript:void(0)">答案解析<span class="to-right"></span></a>
							<div class="parse-con clearfix">
								<p>
									<span>答案：B</span>
									<span>解析：该场景需要使用到物主代词</span>
								</p>
								<a class="pack-up" href="javascript:void(0)">收起<span class="to-top"></span></a>
							</div>
						</div>
					</div>
					<div class="ques-page">
						<div class="clearfix">
							<ul class="ques-content">
								<li>4.-Would you like to eat something? Let's go to the Chinese<input type="text"/>.</li>
								<li>A. restaurant</li>
								<li>B. hotel</li>
								<li>C. police office</li>
								<li>D. bank</li>
							</ul>
							<ul class="ques-info">
								<li>出&nbsp;&nbsp;处：北京市海淀区二十二中学八年级期末考试</li>
								<li>知识点：词汇、词法、冠词、不定冠词</li>
								<li>技能点：度、记忆、识别</li>
								<li>能力点：数理（逻辑）、逻辑分析、关系分析</li>
								<li>难&nbsp;&nbsp;度：易</li>
							</ul>
						</div>
						<div class="anser-keys">
							<a class="unwind" href="javascript:void(0)">答案解析<span class="to-right"></span></a>
							<div class="parse-con clearfix">
								<p>
									<span>答案：B</span>
									<span>解析：该场景需要使用到物主代词</span>
								</p>
								<a class="pack-up" href="javascript:void(0)">收起<span class="to-top"></span></a>
							</div>
						</div>
					</div>
					<div class="ques-page">
						<div class="clearfix">
							<ul class="ques-content">
								<li>4.-Who is Nick?</li>
								<li>A. Lucy's cousin.</li>
								<li>B. Alan's cousin.</li>
								<li>C. Lucy's brother.</li>
							</ul>
							<ul class="ques-info">
								<li>出&nbsp;&nbsp;处：福建比孚学校四年级期末考试试题</li>
								<li>知识点：词型与词义</li>
								<li>技能点：读-理解-信息提取</li>
								<li>能力点：词汇辨析-词义辨析</li>
								<li>难&nbsp;&nbsp;度：较难</li>
							</ul>
						</div>
						<div class="anser-keys">
							<a class="unwind" href="javascript:void(0)">答案解析<span class="to-right"></span></a>
							<div class="parse-con clearfix">
								<p>
									<span>答案：B</span>
									<span>解析：该场景需要使用到物主代词</span>
								</p>
								<a class="pack-up" href="javascript:void(0)">收起<span class="to-top"></span></a>
							</div>
						</div>
					</div>
					<div class="ques-page">
						<div class="clearfix">
							<ul class="ques-content">
								<li>5.-The children <input type="text"/> English in the classroom now.</li>
								<li>A. study</li>
								<li>B. students</li>
								<li>C. is studying</li>
								<li>D. are studying</li>
							</ul>
							<ul class="ques-info">
								<li>出&nbsp;&nbsp;处：西安六中月考试题</li>
								<li>知识点：词型与词义</li>
								<li>技能点：读-记忆-意义建构</li>
								<li>能力点：语言-言语-词汇辨析-词形辨析</li>
								<li>难&nbsp;&nbsp;度：中等</li>
							</ul>
						</div>
						<div class="anser-keys">
							<a class="unwind" href="javascript:void(0)">答案解析<span class="to-right"></span></a>
							<div class="parse-con clearfix">
								<p>
									<span>答案：B</span>
									<span>解析：该场景需要使用到物主代词</span>
								</p>
								<a class="pack-up" href="javascript:void(0)">收起<span class="to-top"></span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="page-bottom">
					<ul class="pagination">
					    <li><a href="##">上一页</a></li>
					    <li class="active"><a href="##">1</a></li>
					    <li><a href="##">2</a></li>
					    <li><a href="##">3</a></li>
					    <li><a href="##">4</a></li>
					    <li><a href="##">5</a></li>
					    <li><a href="##">下一页</a></li>
					</ul>
				</div>
				
			</div>
		</section>
	</body>
	<script type="text/javascript">
		$(function(){
			$('.unwind').on('click',function(){
				$(this).hide();
				$(this).next().slideDown();
				$('.pack-up').on('click',function(){
					var $parent = $(this).parent();
					$parent.slideUp(function(){
						$parent.prev().show();
					});
				})
			})
		})
	</script>
