<% @page_title = '三维题库' %>
<div class="ThreeMain">
  <div class="TreeCenter bc">
    <div class="basicInfor">
      <h1>请选择基本信息</h1>
      <ul>
        <li>
          <label>年级:</label>
          <select>
            <option>一年级</option>
            <option>二年级</option>
            <option>三年级</option>
            <option>四年级</option>
            <option>五年级</option>
            <option>六年级</option>
            <option selected="selected">七年级</option>
          </select>
        </li>
        <li>
          <label>科目:</label>
          <select>
            <option>语文</option>
            <option>数学</option>
            <option selected="selected">英语</option>
            <option>物理</option>
            <option 化学</option>
              <option>生物</option>
              <option>政治</option>
              <option>历史</option>
              <option>地理</option>
            </select>
          </li>
          <li>
            <label>教材版本:</label>
            <select>
              <option selected="selected">人教版(上)</option>
              <option>北师大版</option>
            </select>
          </li>
        </ul>
      </div>
      <div class="inspectPoint">
        <h1>请选择试题的考察点</h1>
        <div class="ohidden">
          <table>
            <tr>
              <td>选中</td>
              <td>知识考察点</td>
            </tr>
            <tr>
              <td><input type="radio" name="rel01"></td>
              <td>字母</td>
            </tr>
            <tr>
              <td><input type="radio" name="rel01"></td>
              <td>词汇</td>
            </tr>
            <tr>
              <td><input type="radio" name="rel01"></td>
              <td>句</td>
            </tr>
            <tr>
              <td><input type="radio" name="rel01"></td>
              <td>功能意念</td>
            </tr>
            <tr>
              <td><input type="radio" name="rel01"></td>
              <td>话题</td>
            </tr>
          </table>
          <table>
            <tr>
              <td>选中</td>
              <td>技能考察点</td>
            </tr>
            <tr>
              <td><input type="radio" name="rel02"/></td>
              <td>记忆</td>
            </tr>
            <tr>
              <td><input type="radio" name="rel02"/></td>
              <td>理解</td>
            </tr>
            <tr>
              <td><input type="radio" name="rel02"/></td>
              <td>分析</td>
            </tr>
            <tr>
              <td><input type="radio" name="rel02"/></td>
              <td>评价</td>
            </tr>
            <tr>
              <td><input type="radio" name="rel02"/></td>
              <td>应用</td>
            </tr>
            <tr>
              <td><input type="radio" name="rel02"/></td>
              <td>表达</td>
            </tr>
          </table>
          <table>
            <tr>
              <td>选中</td>
              <td>能力考察点</td>
            </tr>
            <tr>
              <td><input type="radio" name="rel03"></td>
              <td>言语-语言</td>
            </tr>
            <tr>
              <td><input type="radio" name="rel03"></td>
              <td>数理-逻辑</td>
            </tr>
            <tr>
              <td><input type="radio" name="rel03"></td>
              <td>交流-交际</td>
            </tr>
            <tr>
              <td><input type="radio" name="rel03"></td>
              <td>自知-自省</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="testingCentre">
        <div class="threePageBox">
          <h1><span>考点:</span><b>一级知识点</b><b>一级技能点</b><b>一级能力点</b></h1>
          <div class="threePage">
            <h2>1.-Hi,lucy. Nice to meet you. -Hi,Jim.</h2>
            <ul>
              <li>A. Fine,Thank you </li>
              <li>B. Nice to meet you, too.</li>
              <li>C. Good morning</li>
              <li>D. How do you do</li>
            </ul>
          </div>
          <div class="threePageFooter">
            <ul>
              <li>查看</li>
              <li>下载</li>
              <li>收藏</li>
              <li>加入试卷</li>
            </ul>
            <p><span>浏览次数：18290</span><span>下载次数：12840</span></p>
          </div>
        </div>
        <div class="threePageBox">
          <h1><span>考点:</span><b>一级知识点</b><b>一级技能点</b><b>一级能力点</b></h1>
          <div class="threePage">
            <h2>1.-Hi,lucy. Nice to meet you. -Hi,Jim.</h2>
            <ul>
              <li>A. Fine,Thank you </li>
              <li>B. Nice to meet you, too.</li>
              <li>C. Good morning</li>
              <li>D. How do you do</li>
            </ul>
          </div>
          <div class="threePageFooter">
            <ul>
              <li>查看</li>
              <li>下载</li>
              <li>收藏</li>
              <li>加入试卷</li>
            </ul>
            <p><span>浏览次数：15380</span><span>下载次数：10625</span></p>
          </div>
        </div>
        <div class="threePageBox">
          <h1><span>考点:</span><b>一级知识点</b><b>一级技能点</b><b>一级能力点</b></h1>
          <div class="threePage">
            <h2>1.-Hi,lucy. Nice to meet you. -Hi,Jim.</h2>
            <ul>
              <li>A. Fine,Thank you </li>
              <li>B. Nice to meet you, too.</li>
              <li>C. Good morning</li>
              <li>D. How do you do</li>
            </ul>
          </div>
          <div class="threePageFooter">
            <ul>
              <li>查看</li>
              <li>下载</li>
              <li>收藏</li>
              <li>加入试卷</li>
            </ul>
            <p><span>浏览次数：11290</span><span>下载次数：10048</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>