<div class="form-group">
	<label class="control-label"><%= LABEL("dict.classroom") %></label>
	<%= LABEL("dict.#{(current_user.role_obj.nil? || current_user.role_obj.classroom.nil?)? 'unknown': @current_user.role_obj.classroom}")  %>
</div>